@font-face {
  font-family: "Lora";
  src: url("../fonts/lora/Lora-Regular.woff2") format("woff2"),
    url("../fonts/lora/Lora-Regular.woff") format("woff"),
    url("../fonts/lora/Lora-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/lora/Lora-Medium.woff2") format("woff2"),
    url("../fonts/lora/Lora-Medium.woff") format("woff"),
    url("../fonts/lora/Lora-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-regular.woff") format("woff"),
    url("../fonts/raleway/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-Medium.woff") format("woff"),
    url("../fonts/raleway/Raleway-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/raleway/Raleway-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.main {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
}

.content {
  max-width: 870px;
  width: 100%;
}

h1 {
  font-family: Lora;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 21px 0 0 0;
}

.about-wrap {
  margin-top: 34px;
  display: flex;
  align-items: flex-start;
}

.about-img {
  object-fit: cover;
  margin-right: 30px;
}

.about-text {
  max-width: 568px;
}
