@font-face {
  font-family: "Lora";
  src: url("../fonts/lora/Lora-Regular.woff2") format("woff2"),
    url("../fonts/lora/Lora-Regular.woff") format("woff"),
    url("../fonts/lora/Lora-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/lora/Lora-Medium.woff2") format("woff2"),
    url("../fonts/lora/Lora-Medium.woff") format("woff"),
    url("../fonts/lora/Lora-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-regular.woff") format("woff"),
    url("../fonts/raleway/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-Medium.woff") format("woff"),
    url("../fonts/raleway/Raleway-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/raleway/Raleway-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.main {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
}

.content {
  max-width: 870px;
  width: 100%;
}

.articles-title {
  width: 52%;
  font-family: Lora;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin: 21px auto 0 auto;
}

.article {
  display: flex;
  margin-top: 35px;
}

.article-img {
  margin-right: 32px;
  object-fit: cover;
  max-width: 128px;
  max-height: 128px;
}

.article-prewiew {
  padding-top: 5px;
  position: relative;
}

.article-title {
  max-width: 695px;
  margin-bottom: 5px;
  font-family: Lora;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  margin-top: 12px;
  font-family: Lora;
  font-size: 22px;
  font-weight: 500;
}

.unread {
  position: absolute;
  top: 0px;
  background-color: rgba(221, 148, 83, 0.658);
  padding: 1px 3px 1px 3px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  color: rgb(92, 64, 41);
}

.article-text {
  max-width: 695px;
  margin-bottom: 10px;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.read-more {
  background-color: transparent;
  background: transparent;
  border: none;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  width: 100%;
  max-width: 640px;
  padding-right: 20px;
}

.read-more:hover {
  color: rgba(190, 108, 35, 1);
  cursor: pointer;
}

.read-more:active {
  outline: none;
}

.read-more:focus {
  outline: none;
}

.pgn-wrap {
  max-width: 854px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.pgn {
  background-color: transparent;
  border: none;
  font-family: Lora;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}

.pgn:hover {
  color: rgba(190, 108, 35, 1);
  cursor: pointer;
}

.pgn:active {
  outline: none;
}

.pgn:focus {
  outline: none;
}

.pgn-dot {
  font-family: Lora;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}

@media screen and (max-width: 490px) {
  .logo-phrase {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .header {
    width: auto;
    max-width: 489px;
  }

  nav {
    position: relative;
  }

  .nav-link {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .search-wrap {
    display: none;
  }

  .mobile-menu {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .menu-list {
    list-style: none;
    position: absolute;
    top: 43px;
    width: 50%;
    right: 0px;
  }

  .nav-link-mobile {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }

  .menu-item {
    background-color: rgb(150, 104, 77);
    padding: 5px;
    text-align: center;
  }

  .log-in,
  .sign-up {
    background-color: transparent;
    background: transparent;
    border: none;
    color: #fff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
  }

  .mobile-rubrics-btn-wrap {
    display: block;
  }

  .search-icon {
    display: block;
    position: absolute;
  }

  .search-wrap {
    position: absolute;
    width: 80%;
    top: 43px;
    left: 0;
  }

  .sidebar {
    display: none;
  }

  body {
    max-width: 489px;
  }

  .main {
    max-width: 480px;
    padding: 0px;
    width: auto;
  }

  .content {
    max-width: 100%;
    padding: 3px;
    width: auto;
  }

  .articles-title {
    width: 92%;
    font-size: 24px;
  }

  .article {
    display: block;
    text-align: center;
    max-width: 488px;
    margin-bottom: 10px;
  }

  .article-img {
    object-fit: cover;
    max-width: 150px;
    max-height: 150px;
  }

  .unread {
    left: 0px;
    top: 5px;
  }

  .article-title {
    max-width: 90%;
    font-size: 20px;
    text-align: center;
    margin-top: 18px;
    font-size: 22px;
  }

  .article-text {
    max-width: 98%;
    margin-bottom: 7px;
  }

  .read-more {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    max-width: 98%;
    padding-right: 0px;
  }

  .footer-wrap {
    max-width: 450px;
    margin: 0 auto;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .links-wrap {
    max-width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .questions-form-wrap {
    max-width: 100%;
    display: none;
  }
} ;
