@font-face {
  font-family: "Lora";
  src: url("../fonts/lora/Lora-Regular.woff2") format("woff2"),
    url("../fonts/lora/Lora-Regular.woff") format("woff"),
    url("../fonts/lora/Lora-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/lora/Lora-Medium.woff2") format("woff2"),
    url("../fonts/lora/Lora-Medium.woff") format("woff"),
    url("../fonts/lora/Lora-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-regular.woff") format("woff"),
    url("../fonts/raleway/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-Medium.woff") format("woff"),
    url("../fonts/raleway/Raleway-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/raleway/Raleway-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.main {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
}

.content {
  max-width: 870px;
  width: 100%;
}

.add-favorite {
  background-color: transparent;
  outline: none;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-family: Lora;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 15px;
}

.topic-text {
  text-indent: 20px;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: justify;
  line-height: 20px;
}

.comment-title {
  margin-top: 10px;
  max-width: 640px;
  margin-bottom: 5px;
  font-family: Lora;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.topic-comment-wrap {
  position: relative;
}

.topic-comment {
  padding-top: 15px;
  padding-left: 5px;
  resize: none;
  width: 80%;
  height: 120px;
  background-color: rgba(217, 182, 139, 0.651);
  border: 2px solid rgba(140, 91, 62, 1);
  border-radius: 5px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.symbol-count {
  position: absolute;
  top: 3px;
  left: 5px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

.comment-submit {
  width: 20%;
  padding: 2px;
  margin-top: 12px;
  background-color: rgba(217, 182, 139, 0.651);
  outline: none;
  border: 2px solid rgba(140, 91, 62, 1);
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.comments-topic {
  display: flex;
}

.topic-comment-ava {
  width: 85px;
  height: 85px;
  object-fit: cover;
  margin-right: 10px;
}

.comments-topic {
  margin-bottom: 10px;
}

.comments-topic > figcaption {
  width: 87%;
  position: relative;
}

.author {
  font-family: Lora;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.one-topic-comm {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.date {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 0px;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  .logo-phrase {
    width: 24%;
  }

  .logo {
    width: 20%;
  }

  .header {
    width: auto;
    min-width: 751px;
    max-width: 1023px;
  }

  nav {
    position: relative;
  }

  .nav-link {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .search-wrap {
    display: block;
  }

  .mobile-menu {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .menu-list {
    list-style: none;
    position: absolute;
    top: 40px;
    width: 50%;
    right: 0px;
  }

  .nav-link-mobile {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }

  .menu-item {
    background-color: rgb(150, 104, 77);
    padding: 5px;
    text-align: center;
  }

  .log-in,
  .sign-up {
    background-color: transparent;
    background: transparent;
    border: none;
    color: #fff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
  }

  .mobile-rubrics-btn-wrap {
    display: none;
  }

  .rubrics-mbl-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
  }

  .aside-button {
    padding: 8px;
    font-family: Raleway;
    color: #8c5b3e;
    font-size: 15px;
  }

  .search-icon {
    display: block;
    position: absolute;
  }

  .search-wrap {
    position: absolute;
    width: 80%;
    top: 40px;
    left: 0;
    display: none;
  }

  .sidebar {
    display: none;
  }

  body {
    min-width: 751px;
    max-width: 1023px;
  }

  .main {
    min-width: 751px;
    max-width: 1023px;
    padding: 0px;
    width: auto;
  }

  .content {
    max-width: 100%;
    padding: 3px;
    width: auto;
  }

  .footer-wrap {
    min-width: 751px;
    max-width: 1023px;
    margin: 0 auto;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .links-wrap {
    max-width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .questions-form-wrap {
    max-width: 100%;
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .logo-phrase {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .header {
    max-width: 749px;
  }

  nav {
    position: relative;
  }

  .nav-link {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .search-wrap {
    display: none;
  }

  .mobile-menu {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .menu-list {
    list-style: none;
    position: absolute;
    top: 43px;
    width: 50%;
    right: 0px;
  }

  .nav-link-mobile {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }

  .menu-item {
    background-color: rgb(150, 104, 77);
    padding: 5px;
    text-align: center;
  }

  .log-in,
  .sign-up {
    background-color: transparent;
    background: transparent;
    border: none;
    color: #fff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
  }

  .mobile-rubrics-btn-wrap {
    display: block;
  }

  .search-icon {
    display: block;
    position: absolute;
  }

  .search-wrap {
    position: absolute;
    width: 80%;
    top: 43px;
    left: 0;
  }

  .sidebar {
    display: none;
  }

  body {
    max-width: 749px;
  }

  .main {
    max-width: 749px;
    padding: 0px;
    width: auto;
  }

  .content {
    max-width: 100%;
    padding: 3px;
    width: auto;
  }

  h1 {
    font-size: 26px;
    width: 70%;
    margin-bottom: 8px;
    margin-top: 10px;
  }

  .topic-text {
    margin-top: 8px;
    max-width: 100%;
    padding: 7px;
  }

  .comment-title {
    margin-top: 10px;
    max-width: 70%;
    font-size: 16px;
  }

  .topic-comment {
    width: 90%;
    height: 100px;
    border: 1px solid rgba(140, 91, 62, 1);
  }

  .comment-submit {
    margin-top: 10px;
    border: 1px solid rgba(140, 91, 62, 1);
    width: 30%;
  }

  .comments-topic-wrap {
    max-width: 98%;
  }

  .one-topic-comm {
    max-width: 100%;
  }

  .footer-wrap {
    max-width: 749px;
    margin: 0 auto;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .links-wrap {
    max-width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .questions-form-wrap {
    max-width: 100%;
    display: none;
  }
}
