<footer class="footer">
    <ul class="footer__links-list">
        <li class="footer__links-item">
            <a class="footer__link" href="https://vk.com/murzatai">Вконтакте</a>
        </li>
        <li class="footer__links-item">
            <a class="footer__link" href="https://zen.yandex.ru/murzatay">Яндекс.Дзен</a>
        </li>
        <li class="footer__links-item">
            <a class="footer__link" href="https://www.instagram.com/murzatay_dakian/?igshid=18qcwqmpl98bk">Instagram</a>
        </li>
        <li class="footer__links-item">
            <a class="footer__link" href="https://t.me/murzatay">Telegram</a>
        </li>
    </ul>
    <form class="feedback" action="/mails"  method="POST">
        <textarea class="feedback__textarea textarea textarea_dark" name="question" placeholder="Задайте нам вопрос"></textarea>
        <input class="feedback__email" type="email" name="email" placeholder="Введите свой e-mail" required>
        <br>
        <input class="feedback__submit-button button" type="submit"  value="Отправить"/>
    </form>
</footer>
<article class="cookie" id="cookie_notification">
    <p class="cookie__text">Для улучшения работы сайта и его взаимодействия с пользователями мы используем файлы cookie. Продолжая работу с сайтом, Вы разрешаете использование cookie-файлов. Вы всегда можете отключить файлы cookie в настройках Вашего браузера.</p>
    <button class="cookie__button button">Принять</button>
</article>