<footer>
	<div class="footer-wrap">
		<div class="links-wrap">
			<a href="https://vk.com/murzatai" class="social-links">

				<p class="social-link-text">Вконтакте</p>
			</a>
			<a href="https://zen.yandex.ru/murzatay" class="social-links">

				<p class="social-link-text">Яндекс.Дзен</p>
			</a>
			<a href="https://www.instagram.com/murzatay_dakian/?igshid=18qcwqmpl98bk" class="social-links">

				<p class="social-link-text">Instagram</p>
			</a>
			<a href="https://t.me/murzatay" class="social-links">

				<p class="social-link-text">Telegram</p>
			</a>
		</div>
		<div class="questions-form-wrap">
			<form action="#" class="questions-wrap">
				<textarea name="#" placeholder="Задайте нам вопрос" class="questions-area"></textarea>
				<input type="email" placeholder="Введите свой e-mail" required class="questions_email">
				<br>
				<button class="question-btn">Отправить</button>
			</form>
		</div>
	</div>
</footer>