<div>
	<label for="title">Название статьи</label>
	<input required value="{{title}}" type="text" name="title" id="title" />
</div>
<div>
	<label for="description">Описание</label>
	<textarea required name="description" id="description">{{description}}</textarea>
</div>
<div>
	<label for="markdown">Разметка</label>
	<textarea required name="markdown" id="markdown">{{markdown}}</textarea>
</div>
<a href="/articles">Отменить</a>
<button type="submit">Сохранить</button>