<header class="header">
    <div class="header__logo-wrapper">
        <img class="header__logo-img" src="/img/logo.png" width="1000" height="1299" alt="Лого">
        <img class="header__logo-slogan" src="/img/koshkonutost.png" width="308" alt="Слоган">
    </div>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__link">Главная</a>
            </li>
            <li class="nav__item">
                <a href="/about" class="nav__link">Об авторе</a>
            </li>
            <li class="nav__item">
                <a href="/articles" class="nav__link">Блог</a>
            </li>
            {{#if isLoggedIn}}
            <li class="nav__item">
                <a href="/my-page" class="nav__link">Профиль</a>
            </li>
            <li class="nav__item">
                <a href="/api/auth/logout" class="nav__link">Выйти</a>
            </li>
            {{else}}
            <li class="nav__item">
                <button class="nav__button nav__button_login">Войти</button>   
            </li>
            <li class="nav__item">
                <button class="nav__button nav__button_signup">Зарегистрироваться</button>   
            </li>
            {{/if}}
        </ul>
        <img src="/img/icons/svg-search.svg" alt="Поиск" class="nav__search">
        <form action="/articles/search" class="nav__search-form">
            <input type="search" name="text" class="nav__search-field" placeholder="Поиск">
        </form>
        <img src="/img/icons/mobile-menu.svg" alt="Меню" class="nav__burger">
    </nav>
    <div class="header__rubrics">
        <button class="header__rubrics-btn">
            Рубрики
        </button>
        {{> rubrics}}
    </div>
</header>