<header class="header">
    <div class="header__logo-wrapper">
        <img class="header__logo-img" src="/static/img/logo.png" width="1000" height="1299" alt="Лого">
        <img class="header__logo-slogan" src="/static/img/koshkonutost.png" width="308" alt="Слоган">
    </div>
    <nav class="nav">
        <ul id="react-nav" class="nav__list"></ul>
        <form action="/articles" class="nav__search-form">
            <img src="/static/img/icons/svg-search.svg" alt="Поиск" class="nav__search">
            <input type="search" name="q" class="nav__search-field" placeholder="Поиск">
        </form>
        <img class="nav__logo" src="/static/img/logo_text.png" alt="Лого">
        <img class="nav__burger" src="/static/img/icons/mobile-menu.svg" alt="Меню">
    </nav>
    <div class="header__rubrics">
        <button class="header__rubrics-btn">
            Рубрики
        </button>
        {{> rubrics}}
    </div>
</header>