<header>
    <div class="header">
        <div class="logo-wrap">
            <img src="/img/logo.png" width="1000" height="1299" alt="Лого" class="logo">
            <img src="/img/koshkonutost.png" width="308" height="110" class="logo-phrase">
        </div>
    </div>
    <nav>
        <div class="nav__link-wrapper">
            <p class="nav__link-wrap"><a href="/" class="nav-link">Главная</a></p>
            <p class="nav__link-wrap"><a href="/about" class="nav-link">Об авторе</a></p>
            <p class="nav__link-wrap"><a href="/articles" class="nav-link">Блог</a></p>
            {{#if isLoggedIn}}
            <p class="nav__link-wrap"><a href="/my-page" class="nav-link">Профиль</a></p>
            <form action="/api/auth/logout" method="post">
                <input class="log-out nav__link-wrap" type="submit" value="Выйти">
            </form>
            {{else}}
            <button class="log-in nav__link-wrap">Войти</button>
            <button class="sign-up nav__link-wrap">Зарегистрироваться</button>
            {{/if}}
        </div>


        <img src="/img/icons/svg-search.svg" alt="Поиск" class="search-icon">

        <form action="/articles/search" class="search-wrap">
            <input type="search" name="text" class="search-field" placeholder="Поиск">
        </form>

        <img src="/img/icons/mobile-menu.svg" alt="Меню" class="mobile-menu">
    </nav>
    <div class="mobile-rubrics-wrap">
        <p class="mobile-rubrics-btn-wrap"><button class="mobile-rubrics">
                Рубрики
            </button></p>
        <div class="rubrics-mbl-container">
            {{> rubrics }}
        </div>
    </div>

</header>