<div class="instagram-widget">
    <a class="instagram-widget__profile-link" href="https://www.instagram.com">
        <img class="instagram-widget__profile-icon" width="50" height="50"
            src="/img/icons/instagram.svg" />murzatay_dakian
    </a>
    <div class="instagram-widget__photos">
        {{#each shownPhotos}}
        <a class="instagram-widget__photo-link" href="https://www.instagram.com">
        {{!-- <img class="instagram-widget__photo-img" src="/img/placeholders/comment-img.png" /> --}}
            <img class="instagram-widget__photo-img" src="/img/tmps/{{this}}" />
        </a>
        {{/each}}
        <div class="instagram-widget__hidden-photos hidden">
            {{#each hiddenPhotos}}
            <a class="instagram-widget__photo-link" href="https://www.instagram.com">
            {{!-- <img class="instagram-widget__photo-img" src="/img/placeholders/comment-img.png" /> --}}
                <img class="instagram-widget__photo-img" src="/img/tmps/{{this}}" />
            </a>
            {{/each}}
        </div>
    </div>
    <button class="instagram-widget__hide-button"
        style="background: rgb(224,224,224); border: none; padding: 7px 14px; margin-top: 15px; border-radius: 4px; line-height: 19.5px;">Показать
        больше фото...</button>
    <button
        style="padding: 7px 14px; border-radius: 4px; border: none; background: rgb(217, 182, 139); color: #000; margin-top: 5px; line-height: 19.5px;">
        <img width="15" height="15" style="margin-right: 7px; position: relative; top: 3px;"
            src="/img/icons/instagram-without-outline.svg" />Открыть Instagram и подписаться</button>
</div>