<article class="pop-up">
	<form class="pop-up__login" id="signin__form" method="POST" action="/auth/signin">
		<h2 class="pop-up__title">Войти</h2>
		<input class="pop-up__input" type="text" placeholder="E-mail/Login"  name="username" required/>
		<input class="pop-up__input" type="password" placeholder="Пароль"  name="password" required/>
		<p class="pop-up__errors"></p>
		<button class="pop-up__submit" type="submit">Войти</button><br />
		<button class="pop-up__cancel-btn" type="button">Отменить</button>
	</form>
	<form class="pop-up__signup" id="signup__form" method="POST" action="/auth/signup">
		<h2 class="pop-up__title">Регистрация</h2>
		<input class="pop-up__input" type="text" placeholder="Login"  name="username" required />
		<input class="pop-up__input" type="email" placeholder="E-mail"  name="email" required />
		<input class="pop-up__input" type="password" placeholder="Пароль"  name="password1" required />
		<input class="pop-up__input" type="password" placeholder="Повторите пароль"  name="password2" required />
		<input class="pop-up__input" type="text" placeholder="Город"  name="city" />
		<p class="pop-up__errors"></p>
		<button class="pop-up__submit" type="submit">Зарегистрироваться</button><br />
		<button class="pop-up__cancel-btn" type="button">Отменить</button>
	</form>
	<div class="pop-up__overlay"></div>	
</article>
