<div class="pop-up__login">
	<form class="registration" id="signin__form">
		<h2 class="title">Войти</h2>
		<input type="text" placeholder="E-mail/Login" class="input" name="username" required />
		<input type="password" placeholder="Пароль" class="input" name="password" required />
		<p class="pop-up__errors"></p>
		<button class="pop-up__submit" type="submit">Войти</button><br />
		<a href="#" class="cancel-login">Отменить</a>
	</form>
</div>

<div class="pop-up__signup">
	<h2 class="title">Регистрация</h2>
	<form class="registration" id="signup__form">
		<input type="text" placeholder="Login" class="input" name="username" required />
		<input type="email" placeholder="E-mail" class="input" name="email" required />
		<input type="password" placeholder="Пароль" class="input" name="password1" required />
		<input type="password" placeholder="Повторите пароль" class="input" name="password2" required />
		<input type="text" placeholder="Город" class="input" name="city" />
		<p class="pop-up__errors"></p>
		<button class="pop-up__submit" type="submit">Зарегистрироваться</button><br />
		<a href="#" class="cancel-signup">Отменить</a>
	</form>
</div>
<div class="overlay"></div>