<article class="pop-up">
	<form class="pop-up__login" id="signin__form" method="POST" action="/auth/signin">
		<h2 class="pop-up__title pop-up__login-elem">Войти</h2>
		<h2 class="pop-up__title pop-up__forgot-pass-elem pop-up__forgot-pass-elem_hidden">Восстановление пароля</h2>
		<input class="pop-up__input pop-up__login-elem" type="text" placeholder="E-mail/Login"  name="username" required/>
		<input class="pop-up__input pop-up__login-elem" type="password" placeholder="Пароль"  name="password" required/>
		<input class="pop-up__input pop-up__forgot-pass-elem pop-up__forgot-pass-elem_hidden" type="email" placeholder="E-mail"  name="email" required/>
		<button class="link pop-up__forgot-pass pop-up__login-elem" type="button">Забыли пароль?</button>
		<button class="link pop-up__back-to-login pop-up__forgot-pass-elem pop-up__forgot-pass-elem_hidden" type="button">Войти</button>
		<button class="pop-up__submit pop-up__login-elem" type="submit">Войти</button>
		<button class="pop-up__submit pop-up__forgot-pass-elem pop-up__forgot-pass-elem_hidden" type="submit">Восстановить</button>
		<button class="pop-up__cancel-btn" type="button">Отменить</button>
	</form>
	<form class="pop-up__signup" id="signup__form" method="POST" action="/auth/signup">
		<h2 class="pop-up__title">Регистрация</h2>
		<input class="pop-up__input" type="text" placeholder="Login"  name="username" required />
		<input class="pop-up__input" type="email" placeholder="E-mail"  name="email" required />
		<input class="pop-up__input" type="password" placeholder="Пароль"  name="password1" required />
		<input class="pop-up__input" type="password" placeholder="Повторите пароль"  name="password2" required />
		<input class="pop-up__input" type="text" placeholder="Город"  name="city" />
		<button class="pop-up__submit" type="submit">Зарегистрироваться</button>
		<button class="pop-up__cancel-btn" type="button">Отменить</button>
	</form>
	<div class="pop-up__overlay"></div>	
</article>
