<p class="aside-button-wrap">
    <a href="/articles?category=kormlenie" class="aside-button">Кормление</a>
</p>
<p class="aside-button-wrap">
    <a href="/articles?category=uhod" class="aside-button">Уход</a>
</p>
<p class="aside-button-wrap">
    <a href="/articles?category=vospitanie" class="aside-button">Воспитание</a>
</p>
<p class="aside-button-wrap">
    <a href="/articles?category=adaptaciya" class="aside-button">Адаптация</a>
</p>
<p class="aside-button-wrap">
    <a href="/articles?category=pora-k-veterinaru" class="aside-button">“Пора к ветеринару?”</a>
</p>
<p class="aside-button-wrap">
    <a href="/articles?category=koty-donory" class="aside-button">Коты доноры</a>
</p>
<p class="aside-button-wrap">
    <a href="/articles?category=koty-spinalniki" class="aside-button">Коты спинальники</a>
</p>
<p class="aside-button-wrap">
    <a href="/articles?category=interesnye-fakty" class="aside-button">Интересные факты</a>
</p>
<p class="aside-button-wrap">
    <a href="/articles?category=zabavnye-istorii" class="aside-button">Забавные истории</a>
</p>
