<ul class="rubrics">
    <li class="rubrics__item">
       <a href="/articles?category=kormlenie" class="rubrics__link">Кормление</a> 
    </li>
    <li class="rubrics__item">
     <a href="/articles?category=uhod" class="rubrics__link">Уход</a>   
    </li>
    <li class="rubrics__item">
     <a href="/articles?category=vospitanie" class="rubrics__link">Воспитание</a>   
    </li>
    <li class="rubrics__item">
     <a href="/articles?category=adaptaciya" class="rubrics__link">Адаптация</a>   
    </li>
    <li class="rubrics__item">
     <a href="/articles?category=pora-k-veterinaru" class="rubrics__link">“Пора к ветеринару?”</a>    
    </li>
    <li class="rubrics__item">
     <a href="/articles?category=koty-donory" class="rubrics__link">Коты доноры</a>   
    </li>
    <li class="rubrics__item">
        <a href="/articles?category=koty-spinalniki" class="rubrics__link">Коты спинальники</a>
    </li>
    <li class="rubrics__item">
    <a href="/articles?category=interesnye-fakty" class="rubrics__link">Интересные факты</a>    
    </li>
    <li class="rubrics__item">
     <a href="/articles?category=zabavnye-istorii" class="rubrics__link">Забавные истории</a>   
    </li>
</ul>

