<aside class="sidebar main__sidebar ">
    <h3 class="sidebar__title">
        Рубрики
    </h3>
    {{> rubrics }}
    <article class="sidebar__js-last-comments sidebar__comments"></article>
    {{> instagram}}
</aside>