<aside class="sidebar">
    <h3 class="aside-title">
        Рубрики
    </h3>
    <div class="rubrick-wrap">
        {{> rubrics }}
    </div>
    {{#if lastComments}}
    <h3 class="aside-title">
        Комментарии
    </h3>
    <div class="comment-wrap">
        {{#each lastComments}}
        <figure class="comment">
            <img src="/img/placeholders/comment-img.png" width="38" height="38" alt="Аватарка" class="comment-img">
            <figcaption class="comment-text-wrap">
                <p class="comment-text">{{this.text}}</p>
                <p class="comment-author">{{this.user.username}}</p>
            </figcaption>
        </figure>
        {{/each}}
    </div>
    {{/if}}

    {{> instagram}}
</aside>