<aside class="sidebar">
   <h3 class="aside-title">
      Рубрики
   </h3>
   <div class="rubrick-wrap">
      <p class="aside-button-wrap"><button class="aside-button">Кормление</button></p>
      <p class="aside-button-wrap"><button class="aside-button">Уход</button></p>
      <p class="aside-button-wrap"><button class="aside-button">Воспитание</button></p>
      <p class="aside-button-wrap"><button class="aside-button">Адаптация</button></p>
      <p class="aside-button-wrap"><button class="aside-button">“Пора к ветеринару?”</button></p>
      <p class="aside-button-wrap"><button class="aside-button">Коты доноры</button></p>
      <p class="aside-button-wrap"><button class="aside-button">Коты спинальники</button></p>
      <p class="aside-button-wrap"><button class="aside-button">Интересные факты</button></p>
      <p class="aside-button-wrap"><button class="aside-button">Забавные истории</button></p>
   </div>
   <h3 class="aside-title">
      Комментарии
   </h3>
   <div class="comment-wrap">
      <figure class="comment">
         <img src="../img/comment-img.png" alt="Аватарка" class="comment-img">
         <figcaption class="comment-text-wrap">
            <p class="comment-text">Какой-то коммент 1</p>
            <p class="comment-author">L. Orem</p>
         </figcaption>
      </figure>
      <figure class="comment">
         <img src="../img/comment-img.png" alt="Аватарка" class="comment-img">
         <figcaption class="comment-text-wrap">
            <p class="comment-text">Какой-то коммент 1</p>
            <p class="comment-author">L. Orem</p>
         </figcaption>
      </figure>
   </div>
   <div class="insta">
      <p class="insta-text">Тут хотят виджет из инсты</p>
   </div>
</aside>