<aside class="sidebar main__sidebar ">
    <h3 class="sidebar__title">
        Рубрики
    </h3>
    {{> rubrics }}
    <div id="react-sidebar-comments"></div>
    {{!-- <article class="sidebar__js-last-comments sidebar__comments">
        <h3 class="sidebar__title">Комментарии</h3> --}}
        
        {{!-- <template class="sidebar__js-last-comments-template">    
            <figure class="sidebar__comments-item">
                <img class="sidebar__comments-img" width="38" height="38" alt="Аватарка" >
                <figcaption>
                    <p class="sidebar__comments-text"></p>
                    <p class="sidebar__comments-author"></p>
                </figcaption>
            </figure>
        </template> --}}
    {{!-- </article> --}}
</aside>
