<aside class="sidebar">
	<h3 class="aside-title">
		Рубрики
	</h3>
	<div class="rubrick-wrap">
		<p class="aside-button-wrap">
			<a href="/articles" class="aside-button">Читать все</a>
		</p>
		<p class="aside-button-wrap">
			<a href="/articles/category/kormlenie" class="aside-button">Кормление</a>
		</p>
		<p class="aside-button-wrap">
			<a href="/articles/category/uhod" class="aside-button">Уход</a>
		</p>
		<p class="aside-button-wrap">
			<a href="/articles/category/vospitanie" class="aside-button">Воспитание</a>
		</p>
		<p class="aside-button-wrap">
			<a href="/articles/category/adaptaciya" class="aside-button">Адаптация</a>
		</p>
		<p class="aside-button-wrap">
			<a href="/articles/category/pora-k-veterinaru" class="aside-button">“Пора к ветеринару?”</a>
		</p>
		<p class="aside-button-wrap">
			<a href="/articles/category/koty-donory" class="aside-button">Коты доноры</a>
		</p>
		<p class="aside-button-wrap">
			<a href="/articles/category/koty-spinalniki" class="aside-button">Коты спинальники</a>
		</p>
		<p class="aside-button-wrap">
			<a href="/articles/category/interesnye-fakty" class="aside-button">Интересные факты</a>
		</p>
		<p class="aside-button-wrap">
			<a href="/articles/category/zabavnye-istorii" class="aside-button">Забавные истории</a>
		</p>
	</div>
	<h3 class="aside-title">
		Комментарии
	</h3>
	<div class="comment-wrap">
		<figure class="comment">
			<img src="/img/comment-img.png" alt="Аватарка" class="comment-img">
			<figcaption class="comment-text-wrap">
				<p class="comment-text">Какой-то коммент 1</p>
				<p class="comment-author">L. Orem</p>
			</figcaption>
		</figure>
		<figure class="comment">
			<img src="/img/comment-img.png" alt="Аватарка" class="comment-img">
			<figcaption class="comment-text-wrap">
				<p class="comment-text">Какой-то коммент 1</p>
				<p class="comment-author">L. Orem</p>
			</figcaption>
		</figure>
	</div>
	<div class="insta">
		<p class="insta-text">Тут хотят виджет из инсты</p>
	</div>
</aside>