<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<title>Мурзатай</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body class="body">
	{{> header }}
	<section class="main">
		<div class="main__content about">
			<h1 class="about__title"> Об авторе</h1>
			<div class="about__author-info">
				<img class="about__author-img" src="{{this.img}}" alt="Фото">
				<div class="about__author-text"></div>
			</div>
		</div>
		{{> sidebar }}
	</section>
	{{> footer }}



	{{> popup }}

	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        marked.setOptions({ breaks: true });
        document.querySelector('.about__author-text').innerHTML = marked.parse(`{{{this.sanitizedHTML}}}`);
    </script>
	<script type="module" src="/js-build/main.js"></script>

</body>

</html>