<!-- Штука с классом unread должна появляться у зарегестрированных пользователей для тех статей, который они еще не читали-->

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Мурзатай</title>
	<link rel="stylesheet" type="text/css" href="../css/articles-style.css" />
	<link rel="stylesheet" type="text/css" href="../css/header.css" />
	<link rel="stylesheet" type="text/css" href="../css/aside.css" />
	<link rel="stylesheet" type="text/css" href="../css/footer.css" />
	<link rel="stylesheet" type="text/css" href="../css/admin.css" />
</head>

<body>
	<header>
		<div class="header">
			<div class="logo-wrap">
				<img src="../img/logo.png" alt="" class="logo" />
				<img src="../img/koshkonutost.png" alt="" class="logo-phrase" />
			</div>
		</div>
		<nav>
			<p><a href="/" class="nav-link">Главная</a></p>
			<p><a href="/about" class="nav-link">Об авторе</a></p>
			<div class="nav-button">
				<button class="log-in">Войти</button>
				<span> / </span>
				<button class="sign-up">Зарегистрироваться</button>
			</div>
			<form action="#" class="search-wrap">
				<input type="search" class="search-field" placeholder="Поиск" />
			</form>
		</nav>
	</header>
	<section class="main">
		<div class="content">
			<button class="admin-button" form="add-article-form">
				Добавить статью
			</button>
			<!-- Появляется при нажатии на кнопку  admin-button-->
			<form action="post" id="add-article-form">
				<button class="admin-button">Добавить Заголовок</button>
				<input type="text" /> <br />
				<button class="admin-button">Добавить абзац</button><br />
				<textarea name="" id="indention"></textarea> <br />
				<button class="admin-button">Добавить фото</button>
				<input type="file" /> <br />
				<button class="admin-button">Добавить видео</button>
				<input type="file" /> <br />
				<select>
					<option disabled>Выбрать рубрику</option>
					<option value="Кормление">Кормление</option>
					<option value="Уход">Уход</option>
					<option value="Воспитание">Воспитание</option>
					<option value="Адаптация">Адаптация</option>
					<option value="Пора к ветеринару?">Пора к ветеринару</option>
					<option value="Коты доноры">Коты доноры</option>
					<option value="Коты спинальники">Коты спинальники</option>
					<option value="Интересные факты">Интересные факты</option>
					<option value="Забавные истории">Забавные истории</option>
				</select><br />
				<button class="admin-button">Готово</button>
			</form>
			<h1 class="articles-title">Lorem ipsum dolor sit amet</h1>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img" />
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum eleifend tincidunt lectus euismod sodales. Etiam
						sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
						pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis
						dictum, neque sed scelerisque volutpat, urna arcu placerat magna,
						at placerat lectus arcu sit amet lorem...
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<div class="pgn-wrap">
				<button class="pgn">1</button>
				<button class="pgn">2</button>
				<button class="pgn">3</button>
				<button class="pgn">4</button>
				<button class="pgn">5</button>
				<button class="pgn">6</button>
				<button class="pgn">7</button>
				<button class="pgn">8</button>
				<button class="pgn">9</button>
				<span class="pgn-dot">...</span>
				<button class="pgn">0</button>
			</div>
		</div>
		<aside class="sidebar">
			<h3 class="aside-title">Рубрики</h3>
			<div class="rubrick-wrap">
				<p class="aside-button-wrap">
					<button class="aside-button">Кормление</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Уход</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Воспитание</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Адаптация</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">“Пора к ветеринару?”</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Коты доноры</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Коты спинальники</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Интересные факты</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Забавные истории</button>
				</p>
				<p class="aside-button-wrap">
					<button class="change-button">Добавить рубрику</button>
				</p>
				<!--Должно появиться при нажатии кнопки с классом change-button для дообавления рубрики
               <form action="post" id="add-rubrick">
                  <input type="text" name="" id="">
               </form>-->
			</div>
			<h3 class="aside-title">Комментарии</h3>
			<div class="comment-wrap">
				<figure class="comment">
					<img src="../img/comment-img.png" alt="" class="comment-img" />
					<figcaption class="comment-text-wrap">
						<p class="comment-text">Какой-то коммент 1</p>
						<p class="comment-author">L. Orem</p>
					</figcaption>
				</figure>
				<figure class="comment">
					<img src="../img/comment-img.png" alt="" class="comment-img" />
					<figcaption class="comment-text-wrap">
						<p class="comment-text">Какой-то коммент 1</p>
						<p class="comment-author">L. Orem</p>
					</figcaption>
				</figure>
			</div>
			<div class="insta">
				<p class="insta-text">Тут хотят виджет из инсты</p>
			</div>
		</aside>
	</section>

	{{> footer}}
</body>

</html>