<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div>
		<h1>Редактировать статью</h1>
		<form action="/articles/{{id}}?_method=PUT" method="post">
			{{> form_fields title=title markdown=markdown description=description}}
		</form>
	</div>
</body>

</html>