<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Мурзатай</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
	<link rel="stylesheet" type="text/css" href="../css/admin.css" />
</head>

<body>
	<header>
		<div class="header">
			<div class="logo-wrap">
				<img src="../img/logo.png" alt="" class="logo" />
				<img src="../img/koshkonutost.png" alt="" class="logo-phrase" />
			</div>
		</div>
		<nav>
			<p><a href="/" class="nav-link">Главная</a></p>
			<p><a href="/about" class="nav-link">Об авторе</a></p>
			<div class="nav-button">
				<button class="log-in">Войти</button>
				<span> / </span>
				<button class="sign-up">Зарегистрироваться</button>
			</div>
			<form action="#" class="search-wrap">
				<input type="search" class="search-field" placeholder="Поиск" />
			</form>
		</nav>
	</header>
	<section class="main">
		<div class="content">
			<img src="../img/mainPicture.png" alt="" class="main-img" />
			<button class="main-img-btn" form="main-img-chng">Изменить</button>
			<!-- должно вылезать под кнопкой при раскомментировании для изменения фото выше с классом  main-img
         <form action="post" class="admin-form" id="main-img-chng">
            <input type="file" method="post" class="admin-input">
            </form>-->

			<p class="special-text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magnam,
				quisquam optio provident asperiores facilis, nostrum ad,
				necessitatibus ducimus nesciunt nulla dolorem minus tenetur soluta
				doloribus in error molestiae veniam!
			</p>
			<button class="special-text-btn" form="special-text-chng">
				Изменить
			</button>
			<!-- должно вылезать под кнопкой при раскомментировании для изменения текста выше с классом  special-text
         <form action="post"  id="special-text-chng">
            <textarea  class="admin-input"></textarea>
            <button class="special-text-change">Готово</button>
            </form>-->

			<figure class="last-article">
				<img src="../img/last-article.png" alt="" class="last-article-img" />
				<figcaption class="last-article-prewiew">
					<h2 class="prewiew-title">Последняя статья</h2>
					<p class="prewiew-text">
						Отрывок из последней статьиОтрывок из последней статьиОтрывок из
						последней статьиОтрывок из последней статьи
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="last-article">
				<img src="../img/last-article.png" alt="" class="last-article-img" />
				<figcaption class="last-article-prewiew">
					<h2 class="prewiew-title">Предпоследняя статья</h2>
					<p class="prewiew-text">
						Отрывок из предпоследней статьиОтрывок из последней статьиОтрывок
						из последней статьиОтрывок из последней статьи
					</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
		</div>
		<aside class="sidebar">
			<h3 class="aside-title">Рубрики</h3>
			<div class="rubrick-wrap">
				<p class="aside-button-wrap">
					<button class="aside-button">Кормление</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Уход</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Воспитание</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Адаптация</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">“Пора к ветеринару?”</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Коты доноры</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Коты спинальники</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Интересные факты</button>
				</p>
				<p class="aside-button-wrap">
					<button class="aside-button">Забавные истории</button>
				</p>
				<p class="aside-button-wrap">
					<button class="change-button" form="add-rubrick">
						Добавить рубрику
					</button>
				</p>
				<!--Должно появиться при нажатии кнопки с классом change-button для дообавления рубрики
               <form action="post" id="add-rubrick">
                  <input type="text" name="" id="">
               </form>-->
			</div>
			<h3 class="aside-title">Комментарии</h3>
			<div class="comment-wrap">
				<figure class="comment">
					<img src="../img/comment-img.png" alt="" class="comment-img" />
					<figcaption class="comment-text-wrap">
						<p class="comment-text">Какой-то коммент 1</p>
						<p class="comment-author">L. Orem</p>
					</figcaption>
				</figure>
				<figure class="comment">
					<img src="../img/comment-img.png" alt="" class="comment-img" />
					<figcaption class="comment-text-wrap">
						<p class="comment-text">Какой-то коммент 1</p>
						<p class="comment-author">L. Orem</p>
					</figcaption>
				</figure>
			</div>
			<div class="insta">
				<p class="insta-text">Тут хотят виджет из инсты</p>
			</div>
		</aside>
	</section>

	{{> footer}}
</body>

</html>