<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мурзатай</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body>
	{{> header }}
	<section class="main">
		<div class="content">
			<img src="../img/mainPicture.png" alt="" class="main-img">
			<button class="main-img-btn" form="main-img-chng">Изменить</button>
			<!-- должно вылезать под кнопкой при раскомментировании для изменения фото выше с классом  main-img
         <form action="post" class="admin-form" id="main-img-chng">
            <input type="file" method="post" class="admin-input">
            </form>-->



			<p class="special-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magnam, quisquam optio
				provident asperiores facilis, nostrum ad, necessitatibus ducimus nesciunt nulla dolorem minus tenetur soluta
				doloribus in error molestiae veniam!</p>
			<button class="special-text-btn" form="special-text-chng">Изменить</button>
			<!-- должно вылезать под кнопкой при раскомментировании для изменения текста выше с классом  special-text
         <form action="post"  id="special-text-chng">
            <textarea  class="admin-input"></textarea>
            <button class="special-text-change">Готово</button>
            </form>-->

			<figure class="last-article">
				<img src="../img/last-article.png" alt="" class="last-article-img">
				<figcaption class="last-article-prewiew">
					<h2 class="prewiew-title">Последняя статья</h2>
					<p class="prewiew-text">Отрывок из последней статьиОтрывок из последней статьиОтрывок из последней
						статьиОтрывок из последней статьи</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="last-article">
				<img src="../img/last-article.png" alt="" class="last-article-img">
				<figcaption class="last-article-prewiew">
					<h2 class="prewiew-title">Предпоследняя статья</h2>
					<p class="prewiew-text">Отрывок из предпоследней статьиОтрывок из последней статьиОтрывок из последней
						статьиОтрывок из последней статьи</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
		</div>
		{{> sidebar }}

	</section>

	{{> footer }}

	{{> popup }}

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/jquery.maskedinput.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script type="module" src="/js/main.js"></script>

</body>

</html>