<!--Личная страничка пользователя-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мурзатай</title>
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/my-page.css">
</head>

<body>
	<header>
		<div class="header">
			<div class="logo-wrap">
				<img src="../img/logo.png" class="logo">
				<img src="../img/koshkonutost.png" class="logo-phrase">
			</div>
		</div>
		<nav>
			<p><a href="index.html" class="nav-link">Главная</a></p>
			<p><a href="about.html" class="nav-link">Об авторе</a></p>
			<div class="nav-button">
				<button class="log-in">Личный кабинет</button>
				<button class="sign-up">Выйти</button>
			</div>
			<img src="../img/svg-search.svg" alt="Добавить в избранное" class="search-icon">

			<form action="#" class="search-wrap">
				<input type="search" class="search-field" placeholder="Поиск">
			</form>

			<img src="/img/mobile-menu.svg" alt="Меню" class="mobile-menu">

			<ul class="menu-list">
				<li class="menu-item"><a href="index.html" class="nav-link-mobile">Главная</a></li>
				<li class="menu-item"><a href="about.html" class="nav-link-mobile">Об авторе</a></li>
				<li class="menu-item"><button class="log-in">Войти</button></li>
				<li class="menu-item"><button class="sign-up">Зарегистрироваться</button></li>
			</ul>
		</nav>
		<div class="mobile-rubrics-wrap">
			<p class="mobile-rubrics-btn-wrap"><button class="mobile-rubrics">
					Рубрики
				</button></p>
			<div class="rubrics-mbl-container">
				<p class="aside-button-wrap"><button class="aside-button">Кормление</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Уход</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Воспитание</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Адаптация</button></p>
				<p class="aside-button-wrap"><button class="aside-button">“Пора к ветеринару?”</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Коты доноры</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Коты спинальники</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Интересные факты</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Забавные истории</button></p>
			</div>
		</div>
	</header>
	<section class="main">
		<div class="content">
			<div class="foto-information-wrap">
				<div class="foto-wrap">
					<img src="../img/ava.jpg" alt="Ваше фото" class="ava">
				</div>
				<div class="information-wrap">
					<p class="information">Ник</p>
					<p class="information">Город</p>
					<p class="information ">Что-то о себе и своих животных<button
							class="information-button">Редактировать</button></p>
					<!-- Должно вылезать при нажатии на кнопку с классом .information-button 
               <form action="#"> 
               <textarea name="#" id="#" ></textarea>
               <button type="submit">Готово</button>
               </form>-->
				</div>
			</div>
			<div class="favorite">
				<!--Избранные статьи-->
				<h3 class="favorite-wrap-title"> Избранные статьи</h3>
				<figure class="favorite-article">
					<img src="../img/comment-ava.png" class="favorite-img">
					<figcaption class="favorite-prewiew">
						<h4 class="favorite-title">Название статьи</h4>
						<p class="favorite-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
							tincidunt lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
							pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat,
							urna arcu placerat magna, at placerat lectus arcu sit amet lorem...</p>
						<button class="read-more">Читать...</button>
					</figcaption>
				</figure>
				<figure class="favorite-article">
					<img src="../img/comment-ava.png" class="favorite-img">
					<figcaption class="favorite-prewiew">
						<h4 class="favorite-title">Название статьи</h4>
						<p class="favorite-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
							tincidunt lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
							pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat,
							urna arcu placerat magna, at placerat lectus arcu sit amet lorem...</p>
						<button class="read-more">Читать...</button>
					</figcaption>
				</figure>
				<figure class="favorite-article">
					<img src="../img/comment-ava.png" class="favorite-img">
					<figcaption class="favorite-prewiew">
						<h4 class="favorite-title">Название статьи</h4>
						<p class="favorite-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
							tincidunt lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
							pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat,
							urna arcu placerat magna, at placerat lectus arcu sit amet lorem...</p>
						<button class="read-more">Читать...</button>
					</figcaption>
				</figure>
			</div>
			<div class="user-comment">
				<!--Два последних комментария оставленных пользователем-->
				<h3 class="usercomment-title"> Последние комментарии</h3>
				<figure class="usercomment">
					<a href="#"> <img src="../img/usercomment.png" alt="Автарка" class="usercomment-img"></a>
					<figcaption class="usercomment-prewiew">
						<p class="usercomment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
							tincidunt lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
							pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat,
							urna arcu placerat magna, at placerat lectus arcu sit amet lorem...</p>
					</figcaption>
				</figure>
				<figure class="usercomment">
					<a href="#"> <img src="../img/usercomment.png" alt="Автарка" class="usercomment-img"></a>
					<figcaption class="usercomment-prewiew">
						<p class="usercomment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
							tincidunt lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
							pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat,
							urna arcu placerat magna, at placerat lectus arcu sit amet lorem...</p>
					</figcaption>
				</figure>
				<figure class="usercomment">
					<a href="#"> <img src="../img/usercomment.png" alt="Автарка" class="usercomment-img"></a>
					<figcaption class="usercomment-prewiew">
						<p class="usercomment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
							tincidunt lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque
							pulvinar tortor in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat,
							urna arcu placerat magna, at placerat lectus arcu sit amet lorem...</p>
					</figcaption>
				</figure>
			</div>
		</div>


		<aside class="sidebar">
			<h3 class="aside-title">
				Рубрики
			</h3>
			<div class="rubrick-wrap">
				<p class="aside-button-wrap"><button class="aside-button">Кормление</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Уход</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Воспитание</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Адаптация</button></p>
				<p class="aside-button-wrap"><button class="aside-button">“Пора к ветеринару?”</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Коты доноры</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Коты спинальники</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Интересные факты</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Забавные истории</button></p>
			</div>
			<h3 class="aside-title">
				Комментарии
			</h3>
			<div class="comment-wrap">
				<figure class="comment">
					<img src="../img/comment-img.png" alt="Автарка" class="comment-img">
					<figcaption class="comment-text-wrap">
						<p class="comment-text">Какой-то коммент 1</p>
						<p class="comment-author">L. Orem</p>
					</figcaption>
				</figure>
				<figure class="comment">
					<img src="../img/comment-img.png" alt="Автарка" class="comment-img">
					<figcaption class="comment-text-wrap">
						<p class="comment-text">Какой-то коммент 1</p>
						<p class="comment-author">L. Orem</p>
					</figcaption>
				</figure>
			</div>
			<div class="insta">
				<p class="insta-text">Тут хотят виджет из инсты</p>
			</div>
		</aside>
	</section>

	<footer>
		<div class="footer-wrap">
			<div class="links-wrap">
				<a href="https://vk.com/murzatai" class="social-links">
					<img src="../img/vk.svg" alt="Vk">
					<p class="social-link-text">Вконтакте</p>
				</a>
				<a href="https://zen.yandex.ru/murzatay" class="social-links">
					<img src="/img/dzen.svg" alt="Zen">
					<p class="social-link-text">Яндекс.Дзен</p>
				</a>
				<a href="https://www.instagram.com/murzatay_dakian/?igshid=18qcwqmpl98bk" class="social-links">
					<img src="/img/ig.svg" alt="Insta">
					<p class="social-link-text">Instagram</p>
				</a>
				<a href="https://t.me/murzatay" class="social-links">
					<img src="/img/tg.svg" alt="TG">
					<p class="social-link-text">Telegram</p>
				</a>
			</div>
			<div class="questions-form-wrap">
				<form action="#" class="questions-wrap">
					<textarea name="#" placeholder="Задайте нам вопрос" class="questions-area"></textarea>
					<br>
					<button class="question-btn">Отправить</button>
				</form>
			</div>
		</div>
	</footer>



</body>

</html>