<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <title>Мурзатай</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>

    <body class="body">
        {{> header }}
        <section class="main">
            <div class="main__content forgot-pass">
                <form class="form forgot-pass__form" action="/auth/password-reset" method="POST">
                    <h1 class="form__title">Сброс пароля</h1>
                    <label class="label">
                        <span class="label__title label__title_block">Новый пароль:</span>
                        <input class="input input_wide" type="password" name="pass1" minlength="6" maxLength="30" required/>    
                    </label>
                    <label class="label">
                        <span class="label__title label__title_block">Повторите новый пароль:</span>
                        <input class="input input_wide" type="password"  name="pass2" minlength="6" maxLength="30" required/>    
                    </label>
                    <input type="hidden" name="token" value="{{token}}" />
                    <input type="hidden" name="userId" value="{{userId}}" />
                    <button class="button button_light button_wide button_default" type="submit">Изменить пароль</button>
                </form>
            </div>
            {{> sidebar}}
        </section>
        {{> footer }}
        {{> popup }}
        <script src="/js/libraries/notifications.js"></script>
        <script type="module" src="/js-build/main.js"></script>
    </body>
</html>
