<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/topic.css">

	<title>Мурзатай</title>
</head>

<body>


	<header>
		<div class="header">
			<div class="logo-wrap">
				<img src="../img/logo.png" alt="Лого" class="logo">
				<img src="../img/koshkonutost.png" class="logo-phrase">
			</div>
		</div>
		<nav>
			<p><a href="/" class="nav-link">Главная</a></p>
			<p><a href="/about" class="nav-link">Об авторе</a></p>
			<div class="nav-button">
				<button class="log-in">Войти</button>
				<button class="sign-up">Зарегистрироваться</button>
			</div>
			<img src="../img/svg-search.svg" alt="Поиск" class="search-icon">

			<form action="#" class="search-wrap">
				<input type="search" class="search-field" placeholder="Поиск">
			</form>

			<img src="/img/mobile-menu.svg" alt="Меню" class="mobile-menu">

			<ul class="menu-list">
				<li class="menu-item"><a href="/" class="nav-link-mobile">Главная</a></li>
				<li class="menu-item"><a href="/about" class="nav-link-mobile">Об авторе</a></li>
				<li class="menu-item"><button class="log-in">Войти</button></li>
				<li class="menu-item"><button class="sign-up">Зарегистрироваться</button></li>
			</ul>
		</nav>
		<div class="mobile-rubrics-wrap">
			<p class="mobile-rubrics-btn-wrap"><button class="mobile-rubrics">
					Рубрики
				</button></p>
			<div class="rubrics-mbl-container">
				<p class="aside-button-wrap"><button class="aside-button">Кормление</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Уход</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Воспитание</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Адаптация</button></p>
				<p class="aside-button-wrap"><button class="aside-button">“Пора к ветеринару?”</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Коты доноры</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Коты спинальники</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Интересные факты</button></p>
				<p class="aside-button-wrap"><button class="aside-button">Забавные истории</button></p>
			</div>
		</div>
	</header>
	<section class="main">
		<div class="content">
			<button class="add-favorite">
				<!--Сердечко добавляет статью в изьранное зарегестрированным пользователем. Свгшка, на которую дожно меняться сердечко при нажатии: <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 6.99526C20 8.682 19.2731 10.199 18.1154 11.25H18.125L11.875 17.5C11.25 18.125 10.625 18.75 10 18.75C9.37501 18.75 8.75003 18.125 8.12502 17.5L1.875 11.25H1.88456C0.7269 10.199 0 8.682 0 6.99526C0 3.82223 2.57224 1.25 5.74523 1.25C7.43198 1.25 8.94893 1.9769 9.99998 3.13456C11.051 1.9769 12.568 1.25 14.2547 1.25C17.4278 1.25 20 3.82223 20 6.99526Z" fill="#D95204"/>
</svg>
-->
			</button>
			<h1 class="topic-title"> Lorem ipsum dolor sit amet. </h1>
			<p class="topic-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur quam harum
				error laboriosam recusandae fugit quaerat necessitatibus repellendus provident corrupti illo, inventore non
				aperiam vel velit eum repellat quo.
				Et, reiciendis! Deserunt ad aperiam harum id hic distinctio, assumenda consequuntur est, incidunt voluptatum
				sed
				ab molestiae architecto nulla. Culpa explicabo nihil facilis minima enim officiis optio mollitia repellendus
				ut.
				Nisi voluptatum inventore nobis numquam, ducimus in cumque! Amet corrupti officiis veniam reprehenderit
				dolorum
				natus aut delectus molestias, quis alias recusandae, quisquam sed maxime temporibus nemo nobis optio?
				Minima,
				obcaecati!
				Perferendis consequuntur ipsam aperiam eius odit repellat dolores sapiente amet aspernatur inventore, quia,
				esse
				veniam dignissimos, suscipit nulla praesentium rerum delectus fugiat provident deserunt. Dolore sint
				doloribus
				praesentium quae animi.
				Autem esse deserunt maiores optio fugit. Fuga nihil ex enim magni cumque laborum. Incidunt necessitatibus
				debitis quaerat deserunt enim unde expedita repudiandae! Nisi dolorum sit at saepe blanditiis! Doloremque,
				magnam.
				Sint quibusdam facere recusandae iusto voluptatum, dolores, ipsa aperiam quae cum explicabo nihil
				voluptatibus
				sit odio ducimus praesentium minima. Qui quos ipsam animi neque atque adipisci necessitatibus nihil,
				temporibus
				alias?
				Recusandae deserunt dignissimos asperiores numquam voluptatum labore perspiciatis nisi repudiandae
				doloremque
				mollitia quisquam explicabo impedit dolor laudantium reprehenderit molestiae, veritatis corrupti at alias
				optio
				debitis aspernatur, distinctio unde! Illum, aperiam!
				Optio placeat nostrum vel perspiciatis voluptatibus enim nisi, magni nesciunt. Neque ipsum, ut, vero et qui
				ea
				tempora repellendus est non deleniti atque voluptatem animi magnam dignissimos officia cumque soluta.
				Aliquam dolore asperiores deleniti perspiciatis cupiditate? Deleniti incidunt distinctio, fugit adipisci
				tempore
				accusantium illum consequatur, praesentium rem eius voluptates eum, officia eveniet fuga quas aspernatur
				ipsum
				quis inventore repellendus? Aut?
				Animi saepe voluptatum esse, sapiente obcaecati dolorum, nostrum ad ducimus quasi porro quod nobis! Minima
				laborum saepe voluptate ducimus illum fugit praesentium culpa maxime eum. Nostrum soluta repellendus saepe
				natus!
				Vero aspernatur temporibus quam voluptatem atque, fugiat cumque, dolorum nostrum consequuntur labore nam
				incidunt unde tenetur commodi ducimus quidem iure aliquam id enim eveniet molestias impedit repudiandae eos
				deserunt! Omnis!
				Dolorum minima aspernatur voluptas nesciunt aliquid quasi facilis illum, facere qui nobis labore? Saepe
				minus
				earum mollitia? Sunt, quidem non? Rerum quis officiis eveniet ullam ea ad nam maxime dolore!
				Esse beatae totam cum expedita reprehenderit ullam repudiandae voluptatem veritatis dignissimos, temporibus
				eum
				nam a quae maiores. Impedit eius tempora debitis! Non optio ipsa perferendis. Tenetur blanditiis natus
				expedita
				ea!
				Provident illum exercitationem mollitia vel corporis aliquam! Voluptates aut eius illum? Magnam ipsa,
				impedit ea
				nihil fuga quas distinctio facere, ab reprehenderit deserunt officia doloribus deleniti recusandae alias
				sit.
				Reiciendis.
				Quaerat dolor, saepe ducimus sequi assumenda eos. Quia, doloribus distinctio. Asperiores cum, sint
				consectetur
				nostrum numquam magni eum vero delectus labore alias sapiente quis tempora culpa illo aperiam dolorum est.
				Minus provident deserunt aliquid culpa accusantium earum distinctio quod atque consequatur soluta officia
				libero
				quasi temporibus illo tenetur iusto, id modi delectus, incidunt impedit harum eum ratione commodi. Quos,
				autem.
				Dolorem reprehenderit mollitia, in omnis atque hic corrupti, facere esse maiores praesentium iure pariatur
				unde
				harum debitis laborum neque amet minima, voluptates fugiat nostrum accusantium magnam tenetur. Vel, et
				iusto.
				Reiciendis, veritatis nesciunt quaerat quidem, similique laboriosam vero laborum quisquam magni quos aliquam
				numquam, ut sed. Consequatur possimus magni eligendi soluta culpa rerum unde doloribus, ullam cumque nisi,
				ratione ad!
				Ratione laudantium autem officia. Delectus facere tenetur repudiandae ullam explicabo, ea, blanditiis hic
				iusto
				porro corrupti sed nobis laborum ex accusantium voluptates dolores obcaecati iure, maxime nemo totam illum.
				Consequuntur.
				Vel exercitationem veritatis, officia praesentium accusamus adipisci sapiente nesciunt itaque, omnis culpa
				voluptatibus veniam nihil excepturi quaerat odit ipsum porro quas harum sit corporis facilis ducimus
				voluptatem
				quidem! Accusantium, minima.
				Beatae molestiae nostrum error nam dolore non cum perspiciatis laborum doloribus labore est odit ipsum at
				laboriosam dicta, distinctio voluptas mollitia omnis. Reprehenderit, sint illum quaerat reiciendis eos odio
				accusantium.
				Ad odit tenetur non officia praesentium, incidunt quo laborum, consequuntur sit excepturi suscipit commodi
				vero
				mollitia quasi fugit maiores quaerat voluptatem. Molestiae ab sit esse delectus, exercitationem dolorum
				similique provident!</p>

			<h3 class="comment-title">Оставьте свой комментарий</h3>
			<form action="#" class="topic-comment-wrap">
				<p class="symbol-count">0/500</p>
				<textarea name="#" id="#" class="topic-comment"></textarea>
				<button type="submit" class="comment-submit">Отправить</button>
			</form>
			<div class="comments-topic-wrap">
				<figure class="comments-topic">
					<img src="../img/comment-ava.png" alt="Аватарка" class="topic-comment-ava">
					<figcaption>
						<p class="author">Lorem </p>
						<p class="one-topic-comm">Новый коммментарий</p>
						<p class="date">12.11.2020 </p>
					</figcaption>
				</figure>
			</div>
		</div>

		{{> sidebar }}
	</section>

	{{> footer }}


	{{> popup }}

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/jquery.maskedinput.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script type="module" src="/js/main.js"></script>



</body>

</html>