@import 'fonts.css';

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(217, 182, 139, 1);
}

.header {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
}

.logo {
  object-fit: cover;
  width: 15%;
  height: auto;
}

.logo-phrase {
  margin-bottom: 50px;
  width: 28%;
}

nav {
  max-width: 1140px;
  padding: 3px;
  margin: 0 auto;
  background-color: #8c5d3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link-wrap {
  text-align: center;
  vertical-align: middle;
}

.nav__link-wrapper {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.nav-link {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #401f09;
}

.log-in,
.sign-up,
.log-out {
  background-color: transparent;
  background: transparent;
  border: none;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.log-out-mbl,
.log-in-mbl,
.sign-up-mbl {
  background-color: transparent;
  background: transparent;
  border: none;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

button.log-in:focus,
button.sign-up:focus {
  color: #401f09;
  border: 1px solid #401f09;
  border-radius: 3px;
  outline: none;
}

button.log-in:hover,
button.sign-up:hover,
button.log-out:hover {
  color: #401f09;
}

.search-icon {
  display: none;
}

.search-wrap {
  width: 20.85%;
}

.search-field {
  outline: none;
  height: 35px;
  border: none;
  font-size: 16px;
  width: 100%;
  padding: 3px;
}

.mobile-menu {
  display: none;
}

.menu-list {
  display: none;
}

.mobile-rubrics-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #401f09;
}

.mobile-rubrics-btn-wrap {
  flex-basis: 100%;
  text-align: center;
  background-color: #401f09;
  padding: 5px;
  display: none;
}

.mobile-rubrics {
  background-color: #5e3920ad;
  outline: none;
  border: none;
  width: 50%;
  padding: 11px;
  font-family: Raleway;
  color: #8c5b3e;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.rubrics-mbl-container {
  display: none;
  flex-wrap: wrap;
}

.sidebar {
  max-width: 255px;
  width: 23%;
  margin-right: -15px;
  background-color: rgba(140, 91, 62, 0.6);
  margin-left: 15px;
}

.search-wrap {
  display: flex;
  max-width: 245px;
}

.search-field {
  outline: none;
  margin: 5px;
  height: 35px;
  border: none;
  font-size: 16px;
  width: 100%;
}

.aside-title {
  max-width: 255px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 7px;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.rubrick-wrap {
  background-color: #fff;
  max-width: 255px;
  width: 100%;
  border: 10px solid rgba(140, 91, 62, 0.6);
  padding: 12px 3px 1px 3px;
}

.aside-button-wrap {
  max-width: 210px;
  width: 100%;
  margin: 0 auto;
}

.aside-button {
  display: block;
  background-color: rgba(140, 91, 62, 0.25);
  border: none;
  outline: none;
  max-width: 210px;
  width: 100%;
  padding: 11px;
  font-family: Raleway;
  color: #8c5b3e;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 11px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.aside-button:hover {
  color: #401f09;
}

.comment-wrap {
  background-color: #fff;
  max-width: 255px;
  width: 100%;
  border: 10px solid rgba(140, 91, 62, 0.6);
  padding: 26px 3px 0 3px;
}

.comment {
  display: flex;
  max-width: 210px;
  width: 100%;
  margin-bottom: 16px;
}

.comment-img {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 11px;
  border: 1px solid rgba(242, 138, 46, 0.6);
}

.comment-text {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.comment-text-wrap {
  vertical-align: middle;
}

.comment-author {
  font-family: Lora;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

footer {
  background-color: #401f09;
}

.footer-wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

.links-wrap {
  margin-top: 23px;
  display: flex;
  align-items: flex-end;
}

.social-links {
  margin-right: 28px;
  text-decoration: none;
}

.social-links:hover > .social-link-text {
  color: rgba(242, 138, 46, 0.8);
  text-shadow: rgba(255, 188, 4, 0.274) 1px 0px;
}

.social-link-text {
  display: inline-block;
  font-family: Lora;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: rgba(242, 138, 46, 0.6);
  text-decoration: none;
  height: 40px;
  vertical-align: middle;
}

.questions-form-wrap {
  max-width: 240px;
  width: 21.5%;
  margin-top: 23px;
  margin-right: -15px;
}

.questions-area {
  resize: none;
  width: 100%;
  height: 75px;
  background-color: rgba(217, 182, 139, 1);
  border: 3px solid rgba(140, 91, 62, 1);
  border-radius: 5px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.questions_email {
  resize: none;
  width: 100%;
  background-color: rgba(217, 182, 139, 1);
  border: 3px solid rgba(140, 91, 62, 1);
  border-radius: 5px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  margin-top: 5px;
}

.question-btn {
  width: 40%;
  padding: 2px;
  margin-top: 8px;
  background-color: rgba(217, 182, 139, 1);
  outline: none;
  border: 3px solid rgba(140, 91, 62, 1);
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.overlay {
  background: rgba(155, 143, 143, 0.445);
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

.pop-up__login {
  width: 300px;
  background-color: rgb(216, 193, 166);
  border: 4px solid rgb(150, 133, 108);
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  /* -------- */
  display: none;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.pop-up__signup {
  width: 300px;
  background-color: rgb(216, 193, 166);
  border: 4px solid rgb(150, 133, 108);
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  /* -------- */
  display: none;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.pop-up__errors {
  color: red;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.title {
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.input {
  width: 250px;
  margin-bottom: 15px;
  height: 30px;
  padding: 5px;
  outline: none;
  border: 1px solid rgb(107, 97, 84);
  border-radius: 3px;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.pop-up__submit,
.cancel-login,
.cancel-signup {
  width: 230px;
  margin-bottom: 10px;
  padding: 3px;
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(134, 92, 68, 0.336);
  outline: none;
  border: 0.5px solid rgb(107, 97, 84);
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  user-select: none;
  cursor: pointer;
}

.cancel-login,
.cancel-signup {
  padding: 3px 81px;
}

.pop-up__submit:active {
  background-color: rgba(134, 92, 68, 0.671);
}

@media screen and (max-width: 750px) {
  .pop-up__signup {
    max-width: 250px;
    /* top: 40%;
    left: 18vw; */
    border: 2px solid rgb(150, 133, 108);
  }

  .pop-up__login {
    max-width: 250px;
    /* top: 40%; */
    /* left: 18vw; */
    border: 2px solid rgb(150, 133, 108);
  }

  .registration button,
  .cancel-login,
  .cancel-signup {
    max-width: 200px;
  }

  .cancel-login,
  .cancel-signup {
    padding: 3px 65px;
  }

  .input {
    max-width: 200px;
  }
}

/* .insta {
  max-width: 235px;
  width: 100%;
  padding: 50px 15px;
  background-color: #fff;
  margin: 0 auto;
} */

/* .insta-text {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
} */

.instagram-widget {
    max-width: 235px;
    width: 100%;
    padding: 50px 15px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
}

.instagram-widget__profile-link {
    margin-bottom: 15px; 
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color: black; 
    font-weight: 500; 
    font-size: 16px; 
    font-family: 'Montserrat', sans-serif;
}

.instagram-widget__profile-icon {
    margin-right: 10px;
}

.instagram-widget__photos {
    display: flex; 
    width: 100%; 
    flex-wrap: wrap;
}

.instagram-widget__photo-link {
    width: calc(100% / 3); 
    margin: 5px 0; 
    padding: 3px
}

.instagram-widget__photo-img {
    width: 100%; 
    height: 65px; 
    object-fit: contain;
}

.instagram-widget__hidden-photos {
    display: flex;
}

.hidden {
    display: none;
}

#cookie_notification{
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 15px;
  left: 50%;
  width: 900px;
  max-width: 90%;
  transform: translateX(-50%);
  padding: 25px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_notification p{
  margin: 0;
  font-size: 0.9rem;
  text-align: left;
}


@media (min-width: 576px){
  #cookie_notification.show{
    display: flex;
  }
  .cookie_accept{
    margin: 0 0 0 25px;
    padding: 5px;
    border-color: rgba(140, 91, 62, 0.6);
    background-color: rgba(140, 91, 62, 0.6);
  }
}

@media (max-width: 575px){
  #cookie_notification.show{
    display: block;
    text-align: left;
  }
  .cookie_accept{
    margin: 10px 0 0 0;
  }
}

.link {
  background-color: transparent;
  text-decoration: none;
  color: #8c5b3e;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  width: 100%;
  max-width: 640px;
  padding-right: 20px;
}

.link:hover {
  color: rgba(190, 108, 35, 1);
  cursor: pointer;
}

.button {
  cursor: pointer;
  padding: 4px 10px;
  margin-top: 12px;
  background-color: rgba(217, 182, 139, 0.651);
  outline: none;
  border: 2px solid rgba(140, 91, 62, 1);
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: black;
  display: inline-block;
}