@font-face {
  font-family: 'Lora';
  src: url('../fonts/lora/Lora-Regular.woff2') format('woff2'),
    url('../fonts/lora/Lora-Regular.woff') format('woff'),
    url('../fonts/lora/Lora-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/lora/Lora-Medium.woff2') format('woff2'),
    url('../fonts/lora/Lora-Medium.woff') format('woff'),
    url('../fonts/lora/Lora-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/raleway/Raleway-Regular.woff') format('woff'),
    url('../fonts/raleway/Raleway-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/raleway/Raleway-Medium.woff') format('woff'),
    url('../fonts/raleway/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/raleway/Raleway-SemiBold.woff') format('woff'),
    url('../fonts/raleway/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(217, 182, 139, 1);
}

.header {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
}

.logo {
  object-fit: cover;
  width: 15%;
}

.logo-phrase {
  margin-bottom: 50px;
  width: 28%;
}

nav {
  max-width: 1140px;
  padding: 3px;
  margin: 0 auto;
  background-color: #8c5d3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #401f09;
}

.log-in,
.sign-up,
.log-out {
  background-color: transparent;
  background: transparent;
  border: none;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.log-out-mbl,
.log-in-mbl,
.sign-up-mbl {
  background-color: transparent;
  background: transparent;
  border: none;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

button.log-in:focus,
button.sign-up:focus {
  color: #401f09;
  border: 1px solid #401f09;
  border-radius: 3px;
  outline: none;
}

button.log-in:hover,
button.sign-up:hover,
button.log-out:hover {
  color: #401f09;
}

.search-icon {
  display: none;
}

.search-wrap {
  width: 20.85%;
}

.search-field {
  outline: none;
  height: 35px;
  border: none;
  font-size: 16px;
  width: 100%;
  padding: 3px;
}

.mobile-menu {
  display: none;
}

.menu-list {
  display: none;
}

.mobile-rubrics-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #401f09;
}

.mobile-rubrics-btn-wrap {
  flex-basis: 100%;
  text-align: center;
  background-color: #401f09;
  padding: 5px;
  display: none;
}

.mobile-rubrics {
  background-color: #5e3920ad;
  outline: none;
  border: none;
  width: 50%;
  padding: 11px;
  font-family: Raleway;
  color: #8c5b3e;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.rubrics-mbl-container {
  display: none;
  flex-wrap: wrap;
}

.main {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
}

.content {
  max-width: 870px;
}

.main-img {
  display: block;
  margin: 31px auto 0;
  object-fit: cover;
  max-height: 400px;
  max-width: 850px;
}

.special-text {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 72px;
  text-indent: 27px;
}

.last-article {
  display: flex;
  margin-bottom: 64px;
}

.last-article-img {
  margin-right: 25px;
  object-fit: cover;
  width: 160px;
  height: 160px;
}

.prewiew-title {
  max-width: 640px;
  margin-bottom: 5px;
  font-family: Lora;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
}

.prewiew-text {
  max-width: 640px;
  margin-bottom: 10px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.read-more {
  background-color: transparent;
  background: transparent;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  width: 100%;
  max-width: 640px;
  padding-right: 20px;
}

.read-more:hover {
  color: rgba(190, 108, 35, 1);
}

.read-more:active {
  outline: none;
}

.read-more:focus {
  outline: none;
}

.sidebar {
  max-width: 255px;
  min-width: 200px;
  width: 23%;
  margin-right: -15px;
  background-color: rgba(140, 91, 62, 0.6);
  margin-left: 15px;
}

.aside-title {
  max-width: 255px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 7px;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.rubrick-wrap {
  background-color: #fff;
  max-width: 255px;
  width: 100%;
  border: 10px solid rgba(140, 91, 62, 0.6);
  padding: 12px 3px 1px 3px;
}

.aside-button-wrap {
  max-width: 210px;
  width: 100%;
  margin: 0 auto;
}

.aside-button {
  background-color: rgba(140, 91, 62, 0.25);
  border: none;
  outline: none;
  max-width: 210px;
  width: 100%;
  padding: 11px;
  font-family: Raleway;
  color: #8c5b3e;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 11px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.aside-button:hover {
  color: #401f09;
}

.comment-wrap {
  background-color: #fff;
  max-width: 255px;
  width: 100%;
  border: 10px solid rgba(140, 91, 62, 0.6);
  padding: 26px 3px 0 3px;
}

.comment {
  display: flex;
  max-width: 210px;
  width: 100%;
  margin-bottom: 16px;
}

.comment-img {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 11px;
  border: 1px solid rgba(242, 138, 46, 0.6);
}

.comment-text {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.comment-text-wrap {
  vertical-align: middle;
}

.comment-author {
  font-family: Lora;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.insta {
  max-width: 235px;
  width: 100%;
  padding: 50px 15px;
  background-color: #fff;
  margin: 0 auto;
}

.insta-text {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

footer {
  background-color: #401f09;
}

.footer-wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

.links-wrap {
  margin-top: 23px;
  display: flex;
  align-items: flex-end;
}

.social-links {
  margin-right: 28px;
  text-decoration: none;
}

.social-links:hover > .social-link-text {
  color: rgba(242, 138, 46, 0.8);
  text-shadow: rgb(255, 188, 4) 0px 0px;
}

.social-link-text {
  display: inline-block;
  font-family: Lora;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: rgba(242, 138, 46, 0.6);
  text-decoration: none;
  height: 40px;
  vertical-align: middle;
}

.questions-form-wrap {
  max-width: 240px;
  width: 21.5%;
  margin-top: 23px;
  margin-right: -15px;
}

.questions-area {
  resize: none;
  width: 100%;
  height: 75px;
  background-color: rgba(217, 182, 139, 1);
  border: 3px solid rgba(140, 91, 62, 1);
  border-radius: 5px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.question-btn {
  width: 40%;
  padding: 2px;
  margin-top: 12px;
  background-color: rgba(217, 182, 139, 1);
  outline: none;
  border: 3px solid rgba(140, 91, 62, 1);
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.overlay {
  background: rgba(155, 143, 143, 0.445);
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  .logo-phrase {
    width: 24%;
  }

  .logo {
    width: 20%;
  }

  .header {
    width: auto;
    min-width: 751px;
    max-width: 1023px;
  }

  nav {
    position: relative;
  }

  .nav-link {
    display: none;
  }

  .log-in,
  .sign-up,
  .log-out {
    display: none;
  }

  .search-wrap {
    display: block;
  }

  .mobile-menu {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .menu-list {
    list-style: none;
    position: absolute;
    top: 40px;
    width: 50%;
    right: 0px;
  }

  .nav-link-mobile {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }

  .menu-item {
    background-color: rgb(150, 104, 77);
    padding: 5px;
    text-align: center;
  }

  .log-in,
  .sign-up,
  .log-out {
    background-color: transparent;
    background: transparent;
    border: none;
    color: #fff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
  }

  .mobile-rubrics-btn-wrap {
    display: none;
  }

  .rubrics-mbl-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
  }

  .aside-button {
    padding: 8px;
    font-family: Raleway;
    color: #8c5b3e;
    font-size: 15px;
  }

  .search-icon {
    display: block;
    position: absolute;
  }

  .search-wrap {
    position: absolute;
    width: 80%;
    top: 35px;
    left: 0;
    display: none;
  }

  .sidebar {
    display: none;
  }

  .open-rubric {
    display: flex;
  }
  .open {
    display: block;
  }

  body {
    min-width: 751px;
    max-width: 1023px;
  }

  .main {
    min-width: 751px;
    max-width: 1023px;
    padding: 0px;
    width: auto;
  }

  .content {
    max-width: 100%;
    padding: 3px;
    width: auto;
  }

  .main-img {
    max-width: 100%;
  }

  .special-text {
    min-width: 751px;
    max-width: 1023px;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 72px;
    font-size: 15px;
  }

  .last-article {
    display: flex;
    margin-bottom: 54px;
    text-align: center;
  }

  .last-article-img {
    margin-right: 25px;
    object-fit: cover;
    max-width: 180px;
    max-height: 180px;
  }

  .last-article-prewiew {
    padding-top: 15px;
  }

  .prewiew-title {
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
  }

  .prewiew-text {
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

  .read-more {
    text-align: left;
    max-width: 100%;
    padding: 0px;
  }

  .footer-wrap {
    min-width: 751px;
    max-width: 1023px;
    margin: 0 auto;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .links-wrap {
    max-width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .questions-form-wrap {
    max-width: 100%;
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .logo-phrase {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .header {
    width: auto;
    max-width: 749px;
  }

  nav {
    position: relative;
  }

  .nav-link {
    display: none;
  }

  .log-in,
  .sign-up,
  .log-out {
    display: none;
  }

  .search-wrap {
    display: block;
  }

  .mobile-menu {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .menu-list {
    list-style: none;
    position: absolute;
    top: 40px;
    width: 50%;
    right: 0px;
  }

  .nav-link-mobile {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }

  .menu-item {
    background-color: rgb(150, 104, 77);
    padding: 5px;
    text-align: center;
  }

  .log-in,
  .sign-up,
  .log-out {
    background-color: transparent;
    background: transparent;
    border: none;
    color: #fff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
  }

  .mobile-rubrics-btn-wrap {
    display: block;
  }

  .search-icon {
    display: block;
    position: absolute;
  }

  .search-wrap {
    position: absolute;
    width: 80%;
    top: 35px;
    left: 0;
    display: none;
  }

  .sidebar {
    display: none;
  }

  .open-rubric {
    display: flex;
  }
  .open {
    display: block;
  }

  body {
    max-width: 749px;
  }

  .main {
    max-width: 749px;
    padding: 0px;
    width: auto;
  }

  .content {
    max-width: 100%;
    padding: 3px;
    width: auto;
  }

  .main-img {
    max-width: 100%;
  }

  .special-text {
    max-width: 749px;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 72px;
    font-size: 15px;
  }

  .last-article {
    display: block;
    margin-bottom: 54px;
    text-align: center;
  }

  .last-article-img {
    margin-right: 0px;
  }

  .last-article-prewiew {
    padding-top: 15px;
  }

  .prewiew-title {
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }

  .prewiew-text {
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

  .read-more {
    text-align: left;
    max-width: 100%;
    padding: 0px;
  }

  .footer-wrap {
    max-width: 749px;
    margin: 0 auto;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .links-wrap {
    max-width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .questions-form-wrap {
    max-width: 100%;
    display: none;
  }
} ;
