:root {
  /* type scale */
  --text-scale-ratio: 1.125;
  --text-xs: calc(var(--text-sm) / var(--text-scale-ratio));
  --text-sm: calc(var(--text) / var(--text-scale-ratio));
  --text: 1rem;
  --text-md: calc(var(--text) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.open {
  display: initial;
}

.hidden {
  display: none;
}

html {
  font-size: 112.5%;
}

.body {
  background-color: #d9b68b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: var(--text-xxl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

@font-face {
  font-display: swap;
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lora/Lora-Regular.woff2") format("woff2"), url("../fonts/lora/Lora-Regular.woff") format("woff"), url("../fonts/lora/Lora-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/lora/Lora-Medium.woff2") format("woff2"), url("../fonts/lora/Lora-Medium.woff") format("woff"), url("../fonts/lora/Lora-Medium.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/raleway/Raleway-Regular.woff2") format("woff2"), url("../fonts/raleway/Raleway-Regular.woff") format("woff"), url("../fonts/raleway/Raleway-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway/Raleway-Medium.woff2") format("woff2"), url("../fonts/raleway/Raleway-Medium.woff") format("woff"), url("../fonts/raleway/Raleway-Medium.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/raleway/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/raleway/Raleway-SemiBold.ttf") format("ttf");
}
.main {
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}
.main__content {
  padding: 0 36px 20px;
  width: 100%;
}
.main__sidebar {
  background-color: rgba(140, 91, 62, 0.6);
  flex-basis: 243px;
  flex-shrink: 0;
  max-width: 243px;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .main {
    max-width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 750px) {
  .main {
    max-width: 100%;
    padding: 0;
  }
  .main__content {
    padding: 0 20px 20px;
  }
}

.header {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}
.header__rubrics-btn {
  background-color: rgba(140, 91, 62, 0.25);
  border: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #8c5b3e;
  display: none;
  flex-basis: 100%;
  font-family: Raleway;
  font-size: var(--text-sm);
  font-weight: 400;
  margin: 11px;
  outline: none;
  padding: 0.75em 1.5em;
  text-align: center;
  width: 50%;
}
.header__logo-wrapper {
  background-color: #fff;
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1140px;
  padding: 15px;
}
.header__logo-img {
  height: auto;
  object-fit: cover;
  width: 15%;
}
.header__logo-slogan {
  margin-bottom: 50px;
  width: 28%;
}
.header__rubrics {
  display: none;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .header__rubrics-btn {
    display: none;
  }
  .header__rubrics {
    display: flex;
  }
  .header__logo-img {
    width: 20%;
  }
  .header__logo-slogan {
    width: 24%;
  }
}
@media screen and (max-width: 750px) {
  .header__rubrics-btn {
    display: block;
  }
  .header__rubrics {
    align-items: center;
    background-color: #fff;
    border: 10px solid rgba(140, 91, 62, 0.6);
    display: flex;
    flex-direction: column;
  }
  .header__logo-img {
    width: 30%;
  }
  .header__logo-slogan {
    display: none;
  }
}

.footer {
  background-color: #401f09;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  padding: 5px 15px;
  width: 100%;
}
.footer__links-list {
  align-items: flex-end;
  display: flex;
  list-style: none;
  margin-top: 23px;
}
.footer__links-item {
  margin-right: 28px;
  text-decoration: none;
}
.footer__link {
  color: #dd9453;
  display: inline-block;
  font-family: Lora;
  font-weight: 500;
  height: 40px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.footer__link:hover {
  color: rgba(242, 138, 44, 0.8);
  text-shadow: rgba(255, 188, 4, 0.3) 1px 0;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .footer {
    flex-wrap: wrap;
    max-width: 1023px;
    min-width: 751px;
  }
  .footer__links-list {
    flex-wrap: wrap;
    margin-top: 23px;
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .footer {
    flex-wrap: wrap;
    max-width: 749px;
  }
  .footer__links-list {
    flex-wrap: wrap;
    margin-top: 23px;
    max-width: 100%;
  }
}

.nav {
  align-items: center;
  background-color: #8c5b3e;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 41px;
  padding: 3px;
}
.nav__list {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  list-style: none;
  z-index: 1;
}
.nav__item {
  text-align: center;
  vertical-align: middle;
}
.nav__link {
  color: #fff;
  font-family: Raleway;
  text-align: center;
  text-decoration: none;
}
.nav__link:hover {
  color: #401f09;
}
.nav__button {
  background: transparent;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: Raleway;
  font-size: var(--text);
}
.nav__button:focus {
  border: 1px solid #401f09;
  border-radius: 3px;
  color: #401f09;
  outline: none;
}
.nav__button:hover {
  color: #401f09;
}
.nav__search {
  display: none;
  margin-right: 3px;
}
.nav__search-form {
  display: flex;
  max-width: 245px;
  width: 20.85%;
}
.nav__search-field {
  border: 0;
  font-size: var(--text-sm);
  height: 35px;
  outline: none;
  padding: 3px;
  width: 100%;
}
.nav__burger {
  background-color: transparent;
  border: 0;
  display: none;
  margin-left: auto;
  outline: none;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .nav {
    position: relative;
  }
  .nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 40px;
    width: 50%;
  }
  .nav__search-form {
    display: none;
    left: 0;
    top: 35px;
    width: 80%;
  }
  .nav__list_opened, .nav__search-form_opened {
    display: flex;
  }
  .nav__item {
    background-color: #96684d;
    border: 2px solid #96684d;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway;
    padding: 5px;
    text-decoration: none;
    width: 100%;
  }
  .nav__burger, .nav__search {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .nav {
    position: relative;
  }
  .nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 40px;
    width: 50%;
  }
  .nav__search-form {
    display: none;
    left: 0;
    top: 35px;
    width: 80%;
  }
  .nav__list_opened, .nav__search-form_opened {
    display: flex;
  }
  .nav__item {
    background-color: #96684d;
    border: 2px solid #96684d;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    width: 100%;
  }
  .nav__burger, .nav__search {
    display: block;
  }
}

.sidebar {
  font-family: Raleway;
  text-align: center;
}
.sidebar__comments-item {
  display: flex;
  margin: 0.5em 0.5em;
  word-break: break-word;
}
.sidebar__comments-img {
  flex-shrink: 0;
  align-self: center;
  border: 1px solid rgba(242, 138, 44, 0.6);
  border-radius: 50%;
  margin-right: 11px;
  object-fit: cover;
}
.sidebar__comments-text {
  font-family: Raleway;
  font-size: var(--text-sm);
  font-weight: 500;
  text-align: left;
  max-height: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.3em;
}
.sidebar__comments-author {
  font-family: Raleway;
  font-size: var(--text-xs);
  font-weight: 500;
  text-align: left;
}
.sidebar__title {
  font-family: Lora;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 15px;
}
.sidebar__comments {
  background-color: #fff;
  border: 10px solid rgba(140, 91, 62, 0.6);
  padding: 0;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .sidebar {
    display: none;
  }
}

.error {
  color: #ff0033;
}

.rubrics {
  background-color: #fff;
  border: 10px solid rgba(140, 91, 62, 0.6);
  font-family: Raleway;
  list-style: none;
  padding: 12px 3px 1px;
}
.rubrics__item {
  margin: 0 auto;
  max-width: 210px;
}
.rubrics__link {
  background-color: rgba(140, 91, 62, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #8c5b3e;
  cursor: pointer;
  display: block;
  margin-bottom: 11px;
  padding: 11px;
  text-decoration: none;
}
.rubrics__link:hover {
  color: #401f09;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .rubrics {
    display: flex;
    flex-wrap: wrap;
  }
  .rubrics__item {
    flex-basis: 33%;
  }
}
@media screen and (max-width: 750px) {
  .rubrics {
    background-color: initial;
    border: 0;
    display: none;
  }
  .rubrics_opened {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .rubrics__item {
    width: 100%;
  }
}

.pop-up {
  font-family: Raleway;
  font-style: normal;
}
.pop-up__login, .pop-up__signup {
  background-color: #d8c1a6;
  border: 4px solid #96856c;
  border-radius: 25px;
  display: none;
  left: 50%;
  padding: 0.5em 1em;
  position: absolute;
  text-align: center;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 100;
}
.pop-up__title {
  font-size: var(--text-lg);
  font-weight: 400;
  margin-bottom: 20px;
}
.pop-up__input {
  border: 1px solid #6b6154;
  border-radius: 3px;
  font-size: var(--text);
  height: 30px;
  margin-bottom: 15px;
  outline: none;
  padding: 0.2em 0.4em;
  width: 100%;
}
.pop-up__errors {
  color: #ff0033;
  margin-bottom: 15px;
  text-align: left;
}
.pop-up__submit, .pop-up__cancel-btn {
  background-color: rgba(134, 92, 68, 0.35);
  border: 0.5px solid #6b6154;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: var(--text);
  font-weight: 500;
  margin-bottom: 10px;
  outline: none;
  padding: 0.5em 1em;
  user-select: none;
  width: 100%;
}
.pop-up__submit:active {
  background-color: rgba(134, 92, 68, 0.65);
}
.pop-up__overlay {
  background: rgba(155, 143, 143, 0.45);
  display: none;
  height: 200vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
@media screen and (max-width: 750px) {
  .pop-up__signup, .pop-up__login {
    border: 2px solid #96856c;
  }
  .pop-up__cancel-btn, .pop-up__submit {
    margin-bottom: 16px;
  }
}

.button {
  background-color: #e6cfb3;
  border: 2px solid #8c5b3e;
  border-radius: 10px;
  color: var(--black);
  cursor: pointer;
  display: inline-block;
  font-family: Raleway;
  font-size: var(--text-xs);
  font-weight: 400;
  outline: none;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.button_light {
  background-color: rgba(140, 91, 62, 0.25);
  border: 1px solid rgba(140, 91, 62, 0.4);
  border-radius: 3px;
  padding: 0.35em 0.7em;
}

.textarea {
  background-color: rgba(217, 182, 139, 0.3);
  border: 1px solid #8c5b3e;
  border-radius: 5px;
  font-family: Raleway;
  font-size: var(--text-sm);
  font-weight: 400;
  height: 75px;
  outline: none;
  padding: 4px;
  resize: none;
  width: 100%;
}
.textarea_medium {
  background-color: #d9b68b;
  border: 2px solid #8c5b3e;
  display: block;
  height: 120px;
}
.textarea_dark {
  background-color: #d9b68b;
  border: 2px solid #9b8f8f;
}

.sc-textarea {
  display: flex;
  flex-direction: column;
}
.sc-textarea__counter {
  font-family: inherit;
  font-size: var(--text-xs);
  padding-bottom: 0.3em;
}
.sc-textarea__textarea {
  background-color: #d9b68b;
  border: 0;
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  resize: none;
}

.feedback {
  margin-top: 23px;
  max-width: 240px;
  width: 20%;
}
.feedback__email {
  background-color: #d9b68b;
  border: 2px solid #9b8f8f;
  border-radius: 5px;
  font-family: Raleway;
  font-weight: 400;
  margin-top: 5px;
  outline: none;
  padding: 4px;
  width: 100%;
}
.feedback__submit-button {
  border: 2px solid #9b8f8f;
  margin-top: 8px;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .feedback {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .feedback {
    display: none;
  }
}

.instagram-widget {
  background-color: #fff;
  margin: 0 auto;
  max-width: 235px;
  padding: 50px 15px;
  text-align: center;
  width: 100%;
}
.instagram-widget__hide-btn {
  background: #e0e0e0;
  border: none;
  padding: 7px 14px;
  margin-top: 15px;
  border-radius: 4px;
  line-height: 19.5px;
  cursor: pointer;
}
.instagram-widget__hide-btn_shown {
  display: block;
}
.instagram-widget__subscribe-btn {
  padding: 7px 14px;
  border-radius: 4px;
  border: none;
  background: #d9b68b;
  color: #000;
  margin-top: 5px;
  line-height: 19.5px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size: var(--text-xs);
  font-weight: 500;
}
.instagram-widget__subscribe-img {
  margin-right: 7px;
  position: relative;
  top: 3px;
}
.instagram-widget__profile-link {
  align-items: center;
  color: var(--black);
  display: flex;
  font-family: "Raleway";
  font-weight: 500;
  margin-bottom: 15px;
  text-decoration: none;
}
.instagram-widget__profile-icon {
  margin-right: 10px;
}
.instagram-widget__photos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.instagram-widget__photo-link {
  margin: 5px 0;
  padding: 3px;
  width: calc(100% / 3);
}
.instagram-widget__photo-img {
  height: 65px;
  object-fit: contain;
  width: 100%;
}
.instagram-widget__hidden-photos {
  display: none;
}
.instagram-widget__hidden-photos_shown {
  display: flex;
}

.cookie {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  bottom: 15px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: space-between;
  left: 50%;
  max-width: 90%;
  padding: 25px;
  position: fixed;
  transform: translateX(-50%);
  width: 900px;
}
.cookie__text {
  font-family: Raleway;
  margin: 0;
  text-align: left;
}
@media (min-width: 576px) {
  .cookie.show {
    display: flex;
  }
  .cookie__button {
    background-color: rgba(140, 91, 62, 0.6);
    border-color: rgba(140, 91, 62, 0.6);
    margin: 0 0 0 25px;
    padding: 5px;
  }
}
@media (max-width: 575px) {
  .cookie.show {
    display: block;
    text-align: left;
  }
  .cookie__button {
    margin: 10px 0 0;
  }
}

.link {
  background-color: transparent;
  border: 0;
  color: #8c5b3e;
  font-family: Raleway;
  font-size: var(--text-sm);
  font-weight: 400;
  max-width: 640px;
  padding-right: 20px;
  text-align: right;
  text-decoration: none;
  width: 100%;
}
.link:hover {
  color: #be6c23;
  cursor: pointer;
}

.unread {
  background-color: rgba(221, 148, 83, 0.65);
  color: #5c4029;
  font-family: Raleway;
  font-size: var(--text-xs);
  font-weight: 500;
  padding: 1px 3px;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 750px) {
  .unread {
    left: 0;
    top: 5px;
  }
}

.pagination {
  margin-bottom: 10px;
  margin-top: 40px;
  max-width: 854px;
  text-align: center;
}
.pagination__page {
  background-color: transparent;
  border: 0;
  font-family: "Lora";
  font-size: var(--text-sm);
  font-weight: 400;
  margin-right: 5px;
}
.pagination__page_current {
  color: #8c5b3e;
}
.pagination__page:hover {
  color: #be6c23;
  cursor: pointer;
}
.pagination__page:focus {
  outline: none;
}
.pagination__dots {
  font-family: "Lora";
  font-size: var(--text-sm);
  font-weight: 400;
  margin-right: 5px;
}

.banner__img {
  display: block;
  height: auto;
  margin: 31px auto 0;
  max-height: 400px;
  max-width: 100%;
  object-fit: cover;
}
.banner__caption {
  font-family: Raleway;
  line-height: calc(1.5 * var(--text));
  margin-bottom: 72px;
  margin-top: 32px;
  text-align: left;
  text-indent: 27px;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .banner__img {
    max-width: 100%;
  }
  .banner__caption {
    margin-bottom: 72px;
    margin-top: 32px;
    max-width: 1023px;
    text-align: left;
  }
}
@media screen and (max-width: 750px) {
  .banner__img {
    max-width: 100%;
  }
  .banner__caption {
    margin-bottom: 72px;
    margin-top: 32px;
    max-width: 749px;
    text-align: left;
  }
}

.last-articles {
  display: flex;
  margin-bottom: 64px;
}
.last-articles__img {
  margin-right: 25px;
  object-fit: cover;
}
.last-articles__preview {
  max-width: 640px;
  text-align: left;
}
.last-articles__preview-title {
  font-family: Lora;
  font-size: var(--text-lg);
  font-weight: 500;
  margin-bottom: 5px;
}
.last-articles__preview-text {
  font-family: Raleway;
  font-size: var(--text-sm);
  margin-bottom: 10px;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .last-articles {
    display: flex;
    margin-bottom: 54px;
  }
  .last-articles__preview {
    max-width: 100%;
    padding-top: 15px;
  }
  .last-articles__preview-title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 750px) {
  .last-articles {
    display: block;
    margin-bottom: 54px;
    text-align: center;
  }
  .last-articles__img {
    margin-right: 0;
  }
  .last-articles__preview {
    padding-top: 15px;
  }
  .last-articles__preview-title {
    font-size: var(--text-md);
    margin-bottom: 10px;
    max-width: 100%;
    text-align: center;
  }
  .last-articles__preview-text {
    max-width: 100%;
  }
}

.about__title {
  font-family: Lora;
  font-weight: 500;
  margin: 0 auto;
  padding: 21px 0 0;
  text-align: center;
  width: 40%;
}
.about__author-info {
  align-items: flex-start;
  display: flex;
  margin-top: 34px;
}
.about__author-img {
  margin-right: 30px;
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
}
.about__author-text {
  font-family: Raleway;
  line-height: calc(1.5 * var(--text));
  max-width: 568px;
  text-indent: 18px;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .about__text {
    margin-bottom: 20px;
    max-width: 98%;
    text-align: justify;
  }
}
@media screen and (max-width: 750px) {
  .about__title {
    text-align: center;
    width: 80%;
  }
  .about__author-info {
    display: block;
    margin-top: 24px;
  }
  .about__author-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .about__author-text {
    margin-top: 20px;
    max-width: 98%;
  }
}

.articles__add-button {
  margin-left: 50%;
  transform: translateX(-50%);
}
.articles__edit-button {
  margin-right: 6px;
}
.articles__admin-actions {
  display: flex;
  margin-top: 16px;
}
.articles__empty-list {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 50%;
}
.articles__title {
  font-family: Lora;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 12px;
  max-width: 695px;
  text-align: left;
}
.articles__title_main {
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  margin: 20px auto;
  text-align: center;
  width: 52%;
}
.articles__item {
  display: flex;
  margin-top: 35px;
}
.articles__img {
  margin-right: 32px;
  max-height: 128px;
  max-width: 128px;
  object-fit: cover;
}
.articles__preview {
  padding-top: 5px;
  position: relative;
}
.articles__text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 10px;
  max-width: 695px;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .articles__read-link {
    text-align: left;
  }
  .articles__preview {
    display: flex;
    flex-direction: column;
  }
  .articles__empty-list {
    margin: 0;
    width: 100%;
  }
  .articles__title {
    margin-top: 18px;
    max-width: 90%;
    text-align: center;
  }
  .articles__title_main {
    width: 92%;
  }
  .articles__item {
    display: block;
    margin-bottom: 10px;
    max-width: 749px;
    text-align: center;
  }
  .articles__img {
    margin-right: 0;
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
  }
  .articles__text {
    margin-bottom: 7px;
    max-width: 98%;
  }
}

.topic__content {
  padding: 0 80px 32px;
  position: relative;
  width: 100%;
}
.topic__add-favourite {
  background-color: transparent;
  background-image: url("/img/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: 28px 28px;
  border: 0;
  cursor: pointer;
  height: 28px;
  left: 26px;
  margin-top: 16px;
  position: absolute;
  top: 50px;
  width: 28px;
}
.topic__add-favourite_active {
  background-image: url("/img/icons/heart-added.svg");
}
.topic__title {
  font-family: Lora;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 15px;
  text-align: left;
  width: 100%;
}
.topic__layout {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 12px;
}
.topic__layout p {
  line-height: calc(1.5 * var(--text));
  margin: 15px 0;
}
.topic__layout img {
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 750px) {
  .topic__add-favourite {
    display: block;
    margin-left: auto;
    position: initial;
  }
  .topic__title {
    font-size: var(--text-xl);
  }
  .topic__layout {
    max-width: 100%;
  }
  .topic__content {
    padding: 0 20px 32px;
    width: 100%;
  }
}

.comments__sc-textarea {
  margin-bottom: 12px;
}
.comments__add-button {
  margin-bottom: 24px;
}
.comments__instance {
  display: flex;
  margin-bottom: 16px;
}
.comments__instance-ava {
  height: 85px;
  margin-right: 10px;
  object-fit: cover;
  width: 85px;
}
.comments__instance-content {
  width: calc(100% - 95px);
}
.comments__instance-content_hidden {
  display: none;
}
.comments__instance-author {
  font-family: Lora;
  font-size: var(--text-sm);
  font-weight: 600;
  margin-bottom: 5px;
}
.comments__instance-text {
  font-family: Raleway;
  font-size: var(--text-sm);
  word-wrap: break-word;
}
.comments__instance-date {
  font-family: Raleway;
  font-size: var(--text-xs);
}
.comments__form {
  margin-top: 8px;
}
.comments__welcome-message {
  font-family: Lora;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 24px;
  max-width: 640px;
}
.comments__add-form {
  position: relative;
}
.comments__unauthorized {
  font-size: var(--text-sm);
  margin: 12px 0;
}
.comments__temp-form {
  position: relative;
  width: 100%;
}
.comments__temp-form_hidden {
  display: none;
}
@media screen and (max-width: 750px) {
  .comments__welcome-message {
    margin-top: 10px;
  }
}

.my-page__about {
  display: flex;
  margin-top: 24px;
  max-width: 900px;
}
.my-page__about-field {
  font-family: "Raleway";
  margin-bottom: 5px;
  text-align: left;
}
.my-page__about-avatar {
  max-height: 181px;
  max-width: 203px;
  object-fit: cover;
}
.my-page__about-info {
  margin-left: 16px;
}
.my-page__about-form-label {
  display: block;
  margin: 5px 0;
}
.my-page__about-form-input {
  font-size: var(--text-sm);
  padding: 2px;
}
.my-page__avatar-label {
  cursor: pointer;
  margin: 0.3em 0;
}
.my-page__avatar-input {
  display: none;
}
.my-page__about-form-textarea {
  margin-top: 4px;
}
.my-page__about-edit-form {
  font-family: "Raleway";
  word-break: break-word;
}
.my-page__about-edit-button {
  margin-bottom: 8px;
}
.my-page__about-edit-form_hidden, .my-page__about-fields_hidden {
  display: none;
}
.my-page__favourite {
  background-color: rgba(140, 91, 62, 0.25);
  border-radius: 2px;
  margin-top: 35px;
  padding: 5px;
}
.my-page__favourite-section-title {
  font-family: Lora;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 8px;
  text-align: center;
}
.my-page__favourite-article {
  align-items: center;
  border: 1px solid rgba(140, 91, 62, 0.3);
  border-radius: 4px;
  display: flex;
  margin-bottom: 5px;
  padding: 2px;
}
.my-page__favourite-img {
  margin-right: 32px;
  max-height: 100px;
  object-fit: cover;
}
.my-page__favourite-preview-title {
  font-family: "Lora";
  font-weight: 500;
}
.my-page__favourite-preview-text {
  font-family: Raleway;
  font-size: var(--text-sm);
  margin-bottom: 10px;
  margin-top: 5px;
}
.my-page__comments {
  background-color: rgba(64, 31, 9, 0.4);
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 35px;
  padding: 5px;
}
.my-page__comments-title {
  font-family: Lora;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 8px;
  text-align: center;
}
.my-page__comment {
  border: 1px solid rgba(140, 91, 62, 0.3);
  border-radius: 4px;
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
}
.my-page__comment-img {
  margin-right: 15px;
  max-height: 85px;
  max-width: 85px;
  object-fit: cover;
}
.my-page__comment-text {
  font-family: Raleway;
  font-size: var(--text-sm);
  padding: 5px;
  word-break: break-word;
}
@media screen and (max-width: 750px) {
  .my-page__favourite-article {
    flex-direction: column;
    padding: 10px;
  }
  .my-page__favourite-img {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .my-page__about {
    display: block;
    max-width: 100%;
    text-align: center;
  }
  .my-page__about-info {
    margin-left: 0;
    max-width: 95%;
    text-align: left;
  }
  .my-page__about-edit-button {
    margin: 10px 0;
  }
  .my-page__about-avatar {
    max-width: 100%;
    object-fit: contain;
  }
}

.admin-input {
  background: #fff;
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-top: 10px;
}

.main-img-btn {
  background-color: #fff;
  border: 1px solid gray;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  width: 200px;
}

.about-text-change {
  background-color: #fff;
  border: 1px solid gray;
  margin-top: 10px;
}

.special-text-change {
  background-color: #fff;
  border: 1px solid gray;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  width: 100px;
}

.special-text-btn {
  background-color: #fff;
  border: 1px solid gray;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  width: 100px;
}

.change-button {
  background-color: #fff;
  border: 1px solid gray;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  width: 200px;
}

.admin-button {
  background-color: #fff;
  border: 1px solid gray;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  width: 200px;
}

#indention {
  background-color: #fff;
  border: 1px solid gray;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  width: 500px;
}

.edit__body {
  margin: 10px 5px 15px 10px;
}

.edit_title {
  margin-bottom: 20px;
  text-align: center;
}

.edit__select {
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 3px;
}

.edit__article-title {
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

.article-form {
  max-width: 960px;
  margin: 0 auto;
}
.article-form__description-area {
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-top: 5px;
  min-height: 100px;
  padding: 5px;
}
.article-form__title, .article-form__description, .article-form__img-label {
  display: block;
}
.article-form__img-input, .article-form__img-container {
  margin-top: 10px;
}

.markdown {
  display: none;
}

.markdown__title {
  display: inline-block;
  margin-bottom: 5px;
}

.edit__cancel {
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 3px;
  color: black;
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  padding: 2px;
  padding: 2.5px;
  text-decoration: none;
}

.edit__submit {
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 3px;
  outline: none;
  padding: 2px;
  padding: 2.5px;
}

/*# sourceMappingURL=main.css.map */
