.about-form__label {
    display: block;
}

.about-form__input {
    display: none;
}

.about-form__textarea {
    width: 415px;
    min-height: 61px;
}

.about-form__about {
    width: 415px;
}

.about-form__input_shown {
    display: initial;
}

.about-form__text_hidden {
    display: none;
}

.errors {
    color: red;
}
/* .about-text {
    width: 415px;
    word-wrap: break-word;
}

.about-form,
.about-text_hidden {
    display: none;
}

.about-form_shown {
    display: initial;
} */

.main {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
}

.content {
  max-width: 870px;
  width: 100%;
}
.foto-information-wrap {
  display: flex;
  max-width: 900px;
  margin-top: 7px;
}

.ava {
  max-width: 203px;
  max-height: 181px;
  object-fit: cover;
}

.information-wrap {
  max-width: 695px;
  padding: 10px;
}

.information {
  max-width: 695px;
  margin-bottom: 5px;
  font-family: Lora;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.information-button {
    cursor: pointer;
  background-color: rgba(140, 91, 62, 0.25);
  outline: none;
  border: 1px solid rgba(140, 91, 62, 0.4);
  padding: 3px;
  border-radius: 3px;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
}

.information-wrap > form > textarea {
  resize: none;
  width: 100%;
  height: 75px;
  background-color: rgba(217, 182, 139, 0.308);
  border: 1px solid rgba(140, 91, 62, 1);
  border-radius: 5px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.information-wrap > form > button {
  width: 40%;
  padding: 2px;
  margin-top: 5px;
  background-color: rgba(140, 91, 62, 0.25);
  outline: none;
  border: 1px solid rgba(140, 91, 62, 0.4);
  padding: 3px;
  border-radius: 3px;
  font-family: Lora;
  font-size: 13px;
  font-weight: 400;
}

.favorite {
  margin-top: 35px;
  max-width: 880px;
  background-color: rgba(140, 91, 62, 0.25);
  padding: 5px;
  border-radius: 2px;
}

.favorite-wrap-title {
  max-width: 480px;
  font-family: Lora;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 4px;
}

.favorite-article {
  display: flex;
  align-items: center;
  border: 1px solid rgba(140, 91, 62, 0.3);
  padding: 2px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.favorite-img {
  margin-right: 32px;
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
}

.favorite-prewiew {
  max-width: 748px;
}

.favorite-title {
  max-width: 480px;
  font-family: Lora;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.favorite-text {
  max-width: 695px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.read-more {
  background-color: transparent;
  background: transparent;
  border: none;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  width: 100%;
  max-width: 640px;
  padding-right: 20px;
}

.read-more:hover {
  color: rgba(190, 108, 35, 1);
  cursor: pointer;
}

.read-more:active {
  outline: none;
}

.read-more:focus {
  outline: none;
}

.user-comment {
  margin-top: 35px;
  max-width: 880px;
  background-color: rgba(64, 31, 9, 0.4);
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.usercomment-title {
  width: 100%;
  font-family: Lora;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 4px;
  display: block;
  text-align: center;
}

.usercomment {
  display: flex;
  align-items: flex-start;
  border: 1px solid rgba(140, 91, 62, 0.3);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.usercomment-img {
  margin-right: 15px;
  object-fit: cover;
  max-width: 85px;
  max-height: 85px;
  object-fit: cover;
}

.usercomment-prewiew {
  padding: 5px;
}

.usercomment-text {
  max-width: 695px;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  .logo-phrase {
    width: 24%;
  }

  .logo {
    width: 20%;
  }

  .header {
    width: auto;
    min-width: 751px;
    max-width: 1023px;
  }

  nav {
    position: relative;
  }

  .nav-link {
    display: none;
  }

  .log-in,
  .sign-up,
  .log-out {
    display: none;
  }

  .search-wrap {
    display: block;
  }

  .mobile-menu {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .menu-list {
    list-style: none;
    position: absolute;
    top: 40px;
    width: 50%;
    right: 0px;
  }

  .nav-link-mobile {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }

  .menu-item {
    background-color: rgb(150, 104, 77);
    padding: 5px;
    text-align: center;
  }

  .log-in,
  .sign-up,
  .log-out {
    background-color: transparent;
    background: transparent;
    border: none;
    color: #fff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
  }

  .mobile-rubrics-btn-wrap {
    display: none;
  }

  .rubrics-mbl-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .aside-button {
    padding: 8px;
    font-family: Raleway;
    color: #8c5b3e;
    font-size: 15px;
  }

  .search-icon {
    display: block;
    position: absolute;
  }

  .search-wrap {
    position: absolute;
    width: 80%;
    top: 35px;
    left: 0;
    display: none;
  }

  .sidebar {
    display: none;
  }

  .open-rubric {
    display: flex;
  }
  .open {
    display: block;
  }

  body {
    min-width: 751px;
    max-width: 1023px;
  }

  .main {
    min-width: 751px;
    max-width: 1023px;
    padding: 0px;
    width: auto;
  }

  .content {
    max-width: 100%;
    padding: 3px;
    width: auto;
  }

  .footer-wrap {
    min-width: 751px;
    max-width: 1023px;
    margin: 0 auto;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .links-wrap {
    max-width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .questions-form-wrap {
    max-width: 100%;
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .logo-phrase {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .header {
    width: auto;
    max-width: 749px;
  }

  nav {
    position: relative;
  }

  .nav-link {
    display: none;
  }

  .log-in,
  .sign-up,
  .log-out {
    display: none;
  }

  .search-wrap {
    display: none;
  }

  .mobile-menu {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .menu-list {
    list-style: none;
    position: absolute;
    top: 40px;
    width: 50%;
    right: 0px;
  }

  .nav-link-mobile {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }

  .menu-item {
    background-color: rgb(150, 104, 77);
    padding: 5px;
    text-align: center;
  }

  .log-in,
  .sign-up,
  .log-out {
    background-color: transparent;
    background: transparent;
    border: none;
    color: #fff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
  }

  .mobile-rubrics-btn-wrap {
    display: block;
  }

  .search-icon {
    display: block;
    position: absolute;
  }

  .search-wrap {
    position: absolute;
    width: 80%;
    top: 35px;
    left: 0;
  }

  .sidebar {
    display: none;
  }

  .open-rubric {
    display: flex;
  }
  .open {
    display: block;
  }

  body {
    max-width: 749px;
  }

  .main {
    max-width: 749px;
    padding: 0px;
    width: auto;
  }

  .content {
    max-width: 100%;
    padding: 5px;
    width: auto;
  }

  .foto-information-wrap {
    display: block;
    text-align: center;
    max-width: 100%;
  }

  .ava {
    max-width: 100%;
  }

  .information-wrap {
    max-width: 95%;
  }

  .information {
    max-width: 95%;
    margin-bottom: 5px;
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }

  .information-button {
    margin-top: 10px;
  }

  .favorite {
    max-width: 100%;
  }

  .favorite-wrap-title {
    max-width: 60%;
  }

  .favorite-article {
    display: block;
    text-align: center;
    padding: 5px;
  }

  .favorite-title {
    max-width: 60%;
  }

  .favorite-prewiew {
    max-width: 100%;
  }

  .favorite-text {
    max-width: 98%;
  }

  .read-more {
    text-align: left;
    max-width: 100%;
  }

  .user-comment {
    margin-top: 15px;
    max-width: 100%;
  }

  /* .usercomment-title {
    max-width: 70%;
    margin-left: 0%;
    text-align: center;
    margin: 0 auto;
  } */

  .usercomment {
    display: block;
    text-align: center;
  }

  .usercomment-img {
    margin-right: 0;
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
  }

  .footer-wrap {
    max-width: 749px;
    margin: 0 auto;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .links-wrap {
    max-width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .questions-form-wrap {
    max-width: 100%;
    display: none;
  }
}
