@font-face {
  font-family: "Lora";
  src: url("../fonts/lora/Lora-Regular.woff2") format("woff2"),
    url("../fonts/lora/Lora-Regular.woff") format("woff"),
    url("../fonts/lora/Lora-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/lora/Lora-Medium.woff2") format("woff2"),
    url("../fonts/lora/Lora-Medium.woff") format("woff"),
    url("../fonts/lora/Lora-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-regular.woff") format("woff"),
    url("../fonts/raleway/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-Medium.woff") format("woff"),
    url("../fonts/raleway/Raleway-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/raleway/Raleway-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

.pop-up__login {
  width: 300px;
  background-color: rgb(216, 193, 166);
  border: 4px solid rgb(150, 133, 108);
  border-radius: 25px;
  text-align: center;
  padding: 10px;

  margin: 0 auto;
  margin-top: 20px;
  /* -------- */
  display: none;
  position: absolute;
  top: 50%;
  left: 37%;
  z-index: 100;
}

.pop-up__signup {
  width: 300px;
  background-color: rgb(216, 193, 166);
  border: 4px solid rgb(150, 133, 108);
  border-radius: 25px;
  text-align: center;
  padding: 10px;

  margin: 0 auto;
  margin-top: 20px;
  /* -------- */
  display: none;
  position: absolute;
  top: 50%;
  left: 37%;
  z-index: 100;
}

.title {
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.input {
  width: 250px;
  margin-bottom: 15px;
  height: 30px;
  padding: 5px;
  outline: none;
  border: 1px solid rgb(107, 97, 84);
  border-radius: 3px;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.registration button,
.cansel-login,
.cansel-signup {
  width: 230px;
  margin-bottom: 10px;
  padding: 3px;
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(134, 92, 68, 0.336);
  outline: none;
  border: 0.5px solid rgb(107, 97, 84);
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  user-select: none;
}

.cansel-login,
.cansel-signup {
  padding: 3px 81px;
}

@media screen and (max-width: 750px) {
  .pop-up__signup {
    max-width: 250px;
    top: 40%;
    left: 18vw;
    border: 2px solid rgb(150, 133, 108);
  }

  .pop-up__login {
    max-width: 250px;
    top: 40%;
    left: 18vw;
    border: 2px solid rgb(150, 133, 108);
  }

  .registration button,
  .cansel-login,
  .cansel-signup {
    max-width: 200px;
  }

  .cansel-login,
  .cansel-signup {
    padding: 3px 65px;
  }

  .input {
    max-width: 200px;
  }
}
