$media-md: 'screen and (min-width: 750px) and (max-width: 1024px)';
$media-sm: 'screen and (max-width: 750px)';

$selective-yellow: rgb(255, 188, 4);
$torch-red: rgb(255, 0, 51);
$carrot-orange: rgb(242, 138, 44);
$di-serria: rgb(221, 148, 83);
$tumbleweed: rgb(217, 182, 139);
$akaroa: rgb(216, 193, 166);
$bourbon: rgb(190, 108, 35);
$dusty-gray: rgb(155, 143, 143);
$arrowtown: rgb(150, 133, 108);
$leather: rgb(150, 104, 77);
$potters-clay: rgb(140, 91, 62);
$spicy-mix: rgb(134, 92, 68);
$soya-bean: rgb(107, 97, 84);
$quincy: rgb(92, 64, 41);
$bronze: rgb(64, 31, 9);
$black: #000;
$white: #fff;

$potters-clay-25: rgba(140, 91, 62, 0.25);
$potters-clay-30: rgba(140, 91, 62, 0.3);
$potters-clay-40: rgba(140, 91, 62, 0.4);
$potters-clay-60: rgba(140, 91, 62, 0.6);
$tumbleweed-30: rgba(217, 182, 139, 0.3);
$tumbleweed-65: rgba(217, 182, 139, 0.65);
$spicy-mix-35: rgba(134, 92, 68, 0.35);
$spicy-mix-65: rgba(134, 92, 68, 0.65);
$dusty-gray-45: rgba(155, 143, 143, 0.45);
$di-serria-65: rgba(221, 148, 83, 0.65);
$carrot-orange-60: rgba(242, 138, 44, 0.6);
$carrot-orange-80: rgba(242, 138, 44, 0.8);
$selective-yellow-30: rgba(255, 188, 4, 0.3);

//typography

:root {
	/* type scale */
	--text-scale-ratio: 1.125;
	--text-xs: calc(var(--text-sm) / var(--text-scale-ratio)); //14.2
	--text-sm: calc(var(--text) / var(--text-scale-ratio)); //16
	--text: 1rem; // text-base 18
	--text-md: calc(var(--text) * var(--text-scale-ratio)); // h4 20.25
	--text-lg: calc(var(--text-md) * var(--text-scale-ratio)); // h3 22.8
	--text-xl: calc(var(--text-lg) * var(--text-scale-ratio)); // h2 25.6
	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio)); // h1 28.8
}

// --space-unit: 1em;
// --space-xs:   calc(0.5 * var(--space-unit));
// --space-sm:   calc(0.75 * var(--space-unit));
// --space-md:   calc(1.25 * var(--space-unit));
// --space-lg:   calc(2 * var(--space-unit));
// --space-xl:   calc(3.25 * var(--space-unit));
// --space-xs:   calc(0.5 * var(--space-unit));
// --space-sm:   calc(0.75 * var(--space-unit));
// --space-md:   calc(1.25 * var(--space-unit));
// --space-lg:   calc(2 * var(--space-unit));
// --space-xl:   calc(3.25 * var(--space-unit));
// @media (max-width: 74rem) { /* responsive decision applied to all text elements */
//     :root {
//       --text-base-size: 1.25em;
//       --space-unit: 1.25;
//       --text-scale-ratio: 1.25;
//     }
// }
// @media (max-width: 750px) { /* responsive decision applied to all text elements */
//     // :root {
//     //   --text-base-size: 1.25em;
//     //   --space-unit: 1.25;
//     //   --text-scale-ratio: 1.25;
//     // }
// }
  
// h1, .text-xxl   { font-size: var(--text-xxl, 2.074em); }
// h2, .text-xl    { font-size: var(--text-xl, 1.728em); }
// h3, .text-lg    { font-size: var(--text-lg, 1.44em); }
// h4, .text-md    { font-size: var(--text-md, 1.2em); }
// .text-base      { font-size: 1rem; }
// small, .text-sm { font-size: var(--text-sm, 0.833em); }
// .text-xs        { font-size: var(--text-xs, 0.694em); }
