@use '../abstracts/variables';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.open {
	display: initial;
}

// .hidden {
// 	display: none;
// }

html {
	font-size: 112.5%;
}

.body {
	background-color: variables.$tumbleweed;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 { font-size: var(--text-xxl); }
h2 { font-size: var(--text-xl); }
h3 { font-size: var(--text-lg); }
h4 { font-size: var(--text-md); }
