@font-face {
    font-family: "Lora";
    src: url("../fonts/lora/Lora-Regular.woff2") format("woff2"),
      url("../fonts/lora/Lora-Regular.woff") format("woff"),
      url("../fonts/lora/Lora-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Lora";
    src: url("../fonts/lora/Lora-Medium.woff2") format("woff2"),
      url("../fonts/lora/Lora-Medium.woff") format("woff"),
      url("../fonts/lora/Lora-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/Raleway-Regular.woff2") format("woff2"),
      url("../fonts/raleway/Raleway-Regular.woff") format("woff"),
      url("../fonts/raleway/Raleway-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/Raleway-Medium.woff2") format("woff2"),
      url("../fonts/raleway/Raleway-Medium.woff") format("woff"),
      url("../fonts/raleway/Raleway-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/Raleway-SemiBold.woff2") format("woff2"),
      url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"),
      url("../fonts/raleway/Raleway-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }