<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Мурзатай</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
	<link rel="stylesheet" type="text/css" href="/css/about.css">
</head>

<body>
	{{> header }}
	<section class="main">
		<div class="content">
			<h1 class="about-title"> Об авторе</h1>
			<div class="about-wrap">
				<img src="/img/placeholders/about.png" alt="" class="about-img">

				<p class="about-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et tortor libero. Sed enim risus,
					ullamcorper at purus eget, auctor porta purus. Donec leo urna, ultrices nec magna vel, semper aliquam
					leo.
					Vivamus ut sapien quis nunc faucibus aliquet et ornare velit. Quisque nulla nulla, lacinia a accumsan sit
					amet, bibendum non lorem. Nulla imperdiet quam vitae eros pellentesque volutpat. Donec sodales sapien nec
					arcu
					blandit dignissim eu sit amet eros.
					<br>
					Aliquam erat volutpat. Donec ornare, augue eget rutrum porttitor, nisl tortor tincidunt magna, sit amet
					commodo lorem eros quis diam. Ut id orci vel dui convallis pulvinar vitae sit amet quam. Maecenas
					sagittis
					rhoncus consequat.
					<br>
					Aliquam metus magna, egestas id mattis in, ullamcorper ut lacus. Pellentesque iaculis scelerisque nisl
					vitae
					aliquet. Donec tempus nulla sit amet justo placerat eleifend. Sed id massa eu massa maximus iaculis.
					Integer
					volutpat at enim quis ultrices. Quisque vitae suscipit lorem, ut euismod tellus. Morbi at ante mattis,
					placerat tellus in, maximus purus.
					<br>
					Aliquam cursus nec dui at ultricies. Vestibulum euismod dui nec ex fringilla condimentum. Nullam varius
					ligula
					non vestibulum aliquam. Quisque arcu nibh, dictum ac sollicitudin ut, porttitor at libero. Cras at orci
					ac
					lorem cursus facilisis. Aenean fermentum, mi a tincidunt eleifend, nisl urna mollis nibh, a aliquet
					sapien
					nisi non libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
					egestas.
					Ut id massa interdum, cursus massa quis, feugiat risus. Vivamus at lacus nibh. Sed molestie condimentum
					erat,
					at auctor nunc varius non. Sed feugiat neque odio, nec ultricies nulla congue vitae.
					<br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis arcu eget fringilla
					porttitor.
					Duis ut ante ac lacus tincidunt egestas. Vivamus quis ornare nulla. Vestibulum ante ipsum primis in
					faucibus
					orci luctus et ultrices posuere cubilia curae; Cras at erat mollis,
				</p>
			</div>
			<button class="main-img-btn">Изменить фото</button>
			<!-- должно вылезать под кнопкой при раскомментировании для изменения фото выше с классом  main-img
         <form action="post" class="admin-form">
            <input type="file" method="post" class="admin-input">
            </form>-->
			<br>
			<button class="text-change admin-button">Редактировать текст</button>
			<!-- должно вылезать под кнопкой при раскомментировании для изменения текста выше с классом  about-text
         <form action="">
            <textarea name="" id="" cols="100" rows="50" class="about-text-change" placeholder="Сюда текст тык"></textarea>
         </form>-->
		</div>
		{{> sidebar }}
	</section>
	{{> footer }}

	{{> popup }}

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/jquery.maskedinput.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script type="module" src="/js/main.js"></script>
</body>

</html>