<!-- Штука с классом unread должна появляться у зарегестрированных пользователей для тех статей, который они еще не читали-->


<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мурзатай</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/articles-style.css">
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body>
	{{> header }}
	<section class="main">
		<div class="content">
			<button class="admin-button" form="add-article-form"> Добавить статью</button>
			<!-- Появляется при нажатии на кнопку  admin-button-->
			<form action="post" id="add-article-form">
				<button class="admin-button">Добавить Заголовок</button>
				<input type="text"> <br>
				<button class="admin-button">Добавить абзац</button><br>
				<textarea name="" id="indention"></textarea> <br>
				<button class="admin-button">Добавить фото</button>
				<input type="file"> <br>
				<button class="admin-button">Добавить видео</button>
				<input type="file"> <br>
				<select>
					<option disabled>Выбрать рубрику</option>
					<option value="Кормление">Кормление</option>
					<option value="Уход">Уход</option>
					<option value="Воспитание">Воспитание</option>
					<option value="Адаптация">Адаптация</option>
					<option value="Пора к ветеринару?">Пора к ветеринару</option>
					<option value="Коты доноры">Коты доноры</option>
					<option value="Коты спинальники">Коты спинальники</option>
					<option value="Интересные факты">Интересные факты</option>
					<option value="Забавные истории">Забавные истории</option>
				</select><br>
				<button class="admin-button">Готово</button>
			</form>
			<h1 class="articles-title">Lorem ipsum dolor sit amet</h1>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<figure class="article">
				<img src="../img/article.png" alt="" class="article-img">
				<figcaption class="article-prewiew">
					<h2 class="article-title">Название статьи</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend
						tincidunt
						lectus euismod sodales. Etiam sodales nisi a ipsum congue aliquam. Nulla facilisi. Quisque pulvinar
						tortor
						in massa viverra, ac venenatis ex venenatis. Duis dictum, neque sed scelerisque volutpat, urna arcu
						placerat
						magna, at placerat lectus arcu sit amet lorem...</p>
					<button class="read-more">Читать...</button>
				</figcaption>
			</figure>
			<div class="pgn-wrap">
				<button class="pgn">1</button>
				<button class="pgn">2</button>
				<button class="pgn">3</button>
				<button class="pgn">4</button>
				<button class="pgn">5</button>
				<button class="pgn">6</button>
				<button class="pgn">7</button>
				<button class="pgn">8</button>
				<button class="pgn">9</button>
				<span class="pgn-dot">...</span>
				<button class="pgn">0</button>
			</div>


		</div>
		{{> sidebar }}

	</section>
	{{> footer }}
	{{> popup }}

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/jquery.maskedinput.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script type="module" src="/js/main.js"></script>




</body>