@use '../abstracts/variables';

.about-edit {
    margin-left: 24px;

    &__link {
        color: variables.$spice;
    }

    &__heading {
        margin-bottom: 12px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
    }

    &__textarea {
        max-width: 500px;
        min-height: 300px;
        padding: 8px;
    }

    &__submit-btn {
        margin-top: 12px;
        max-width: 120px;
    }

    &__upload {
        margin-top: 12px;
    }
}
