@use '../abstracts/variables';

.about {
    &__title {
        font-family: Lora;
        font-weight: 500;
        margin: 0 auto;
        padding: 21px 0 0;
        text-align: center;
        width: 40%;
    }

    &__author-info {
        align-items: flex-start;
        display: flex;
    }

    &__author-img {
        margin-right: 30px;
        max-height: 300px;
        max-width: 300px;
        object-fit: cover;
        margin-top: 1em;
    }

    &__author-text {
        font-family: Raleway;
        line-height: calc(1.5 * var(--text));
        max-width: 568px;
    }

    &__author-text p {
        margin: 1em 0;
    }

    @media #{variables.$media-md} {
        &__text {
            margin-bottom: 20px;
            max-width: 98%;
            text-align: justify;
        }
    }

    @media #{variables.$media-sm} {
        &__title {
            text-align: center;
            width: 80%;
        }

        &__author-info {
            display: block;
        }

        &__author-img {
            display: block;
            margin: 1em auto;
            margin-bottom: 10px;
        }

        &__author-text {
            margin-top: 20px;
            max-width: 98%;
        }
    }
}
