@use '../abstracts/variables';

.about {
  &__title {
    font-family: Lora;
    font-weight: 500;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding: 21px 0 0 0;  
  }

  &__author-info {
    margin-top: 34px;
    display: flex;
    align-items: flex-start;  
  }

  &__author-img {
    object-fit: cover;
    margin-right: 30px;
    max-width: 300px;
    max-height: 300px;  
  }

  &__author-text {
    max-width: 568px;
    font-family: Raleway;
    text-indent: 18px;
    line-height: calc(1.5 * var(--text));
  }

  @media #{variables.$media-md} {
    &__text {
      max-width: 98%;
      text-align: justify;
      margin-bottom: 20px;  
    }
  }

  @media #{variables.$media-sm} {
    &__title {
      text-align: center;
      width: 80%;
    }

    &__author-info {
      margin-top: 24px;
      display: block;
    }

    &__author-img {
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;
    }

    &__author-text {
      margin-top: 20px;
      max-width: 98%;
    }
  }
}
