.admin-input {
    background: #fff;
    border: 1px solid gray;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main-img-btn {
    background-color: #fff;
    border: 1px solid gray;
    font-family: Lora;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: left;
    width: 200px;
}

.about-text-change {
    background-color: #fff;

    border: 1px solid gray;
    margin-top: 10px;
}

.special-text-change {
    background-color: #fff;

    border: 1px solid gray;
    font-family: Lora;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 10px;

    text-align: left;

    width: 100px;
}

.special-text-btn {
    background-color: #fff;

    border: 1px solid gray;
    font-family: Lora;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 10px;

    text-align: left;

    width: 100px;
}

.change-button {
    background-color: #fff;

    border: 1px solid gray;
    font-family: Lora;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 10px;

    text-align: left;

    width: 200px;
}

.admin-button {
    background-color: #fff;

    border: 1px solid gray;
    font-family: Lora;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 10px;

    text-align: left;

    width: 200px;
}

#indention {
    background-color: #fff;

    border: 1px solid gray;
    font-family: Lora;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 10px;

    text-align: left;

    width: 500px;
}

.edit__body {
    margin: 10px 5px 15px 10px;
}

.edit_title {
    margin-bottom: 20px;

    text-align: center;
}

.edit__select {
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 3px;
}

.edit__article-title {
    border: 1px solid gray;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.article-form {
    max-width: 960px;
    margin: 0 auto;
    &__description-area {
        width: 100%;
        border: 1px solid gray;
        margin-bottom: 10px;
        margin-top: 5px;
        min-height: 100px;
        padding: 5px;
    }

    &__title,
    &__description,
    &__img-label {
        display: block;
    }

    &__img-input,
    &__img-container {
        margin-top: 10px;
    }
}

.markdown {
    display: none;
}

.markdown__title {
    display: inline-block;

    margin-bottom: 5px;
}

.edit__cancel {
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 3px;
    color: black;
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    padding: 2px;
    padding: 2.5px;
    text-decoration: none;
}

.edit__submit {
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 3px;
    outline: none;
    padding: 2px;
    padding: 2.5px;
}
