@use '../abstracts/variables';

.articles {
    &__add-button {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    &__edit-button {
        margin-right: 6px;
    }

    &__admin-actions {
        display: flex;
        margin-top: 16px;
    }

    &__empty-list {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 50%;
    }

    &__title {
        font-family: Lora;
        font-weight: 500;
        margin-bottom: 5px;
        margin-top: 12px;
        max-width: 695px;
        text-align: left;
    }

    &__title_main {
        font-family: Lora;
        font-style: normal;
        font-weight: 500;
        margin: 20px auto;
        text-align: center;
        width: 52%;
    }

    &__item {
        display: flex;
        margin-top: 35px;
    }

    &__img {
        margin-right: 32px;
        max-height: 128px;
        max-width: 128px;
        object-fit: cover;
    }

    &__preview {
        padding-top: 5px;
        position: relative;
    }

    &__text {
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 16px;
        margin-bottom: 10px;
        max-width: 695px;
        text-align: left;
    }

    @media #{variables.$media-sm} {
        &__read-link {
            text-align: left;
        }

        &__preview {
            display: flex;
            flex-direction: column;
        }

        &__empty-list {
            margin: 0;
            width: 100%;
        }

        &__title {
            margin-top: 18px;
            max-width: 90%;
            text-align: center;
        }

        &__title_main {
            width: 92%;
        }

        &__item {
            display: block;
            margin-bottom: 10px;
            max-width: 749px;
            text-align: center;
        }

        &__img {
            margin-right: 0;
            max-height: 150px;
            max-width: 150px;
            object-fit: cover;
        }

        &__text {
            margin-bottom: 7px;
            max-width: 98%;
        }
    }
}
