@media #{$media-md} {
  
    .aside-button {
      padding: 8px;
      font-family: Raleway;
      color: #8c5b3e;
      font-size: 15px;
    }
  
    .sidebar {
      display: none;
    }
  
    .open-rubric {
      display: flex;
    }
  
    body {
      min-width: 751px;
      max-width: 1023px;
    }
  
    .main {
      min-width: 751px;
      max-width: 1023px;
      width: 100%;
      padding: 0px;
    }
  
    .content {
      max-width: 100%;
      padding: 3px;
      width: auto;
    }
}
  
  @media  #{$media-sm} {
    .sidebar {
      display: none;
    }
  
    .open-rubric {
      display: flex;
    }
  
    body {
      max-width: 749px;
    }
  
    .main {
      max-width: 749px;
      padding: 0px;
      width: auto;
    }
  
    .content {
      max-width: 100%;
      padding: 5px;
      width: auto;
    }
  
    .foto-information-wrap {
      display: block;
      text-align: center;
      max-width: 100%;
    }
  
    .ava {
      max-width: 100%;
    }
  
    .information-wrap {
      max-width: 95%;
    }
  
    .information {
      max-width: 95%;
      margin-bottom: 5px;
      font-family: Lora;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
  
    .information-button {
      margin-top: 10px;
    }
  
    .favorite {
      max-width: 100%;
    }
  
    .favorite-wrap-title {
      max-width: 60%;
    }
  
    .favorite-article {
      display: block;
      text-align: center;
      padding: 5px;
    }
  
    .favorite-title {
      max-width: 60%;
    }
  
    .favorite-prewiew {
      max-width: 100%;
    }
  
    .favorite-text {
      max-width: 98%;
    }
  
    .user-comment {
      margin-top: 15px;
      max-width: 100%;
    }
  
    .usercomment {
      display: block;
      text-align: center;
    }
  
    .usercomment-img {
      margin-right: 0;
      object-fit: cover;
      max-width: 100px;
      max-height: 100px;
      object-fit: cover;
    }
  }
