@use '../abstracts/variables';

.banner {
    &__img {
        display: block;
        height: auto;
        margin: 31px auto 0;
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }

    &__caption {
        font-family: Raleway;
        line-height: calc(1.5 * var(--text));
        margin-bottom: 72px;
        margin-top: 32px;
        text-align: left;
        text-indent: 27px;
    }

    @media #{variables.$media-md} {
        &__caption {
            margin-bottom: 72px;
            margin-top: 32px;
            max-width: 1023px;
            text-align: left;
        }
    }

    @media #{variables.$media-sm} {
        &__caption {
            margin-bottom: 72px;
            margin-top: 32px;
            max-width: 749px;
            text-align: left;
        }
    }
}

.last-articles {
    display: flex;
    margin-bottom: 64px;

    &__img {
        margin-right: 25px;
        object-fit: cover;
    }

    &__preview {
        max-width: 640px;
        text-align: left;
    }

    &__preview-title {
        font-family: Lora;
        font-size: var(--text-lg);
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__preview-text {
        font-family: Raleway;
        font-size: var(--text-sm);
        margin-bottom: 10px;
    }

    @media #{variables.$media-md} {
        display: flex;
        margin-bottom: 54px;

        &__preview {
            max-width: 100%;
            padding-top: 15px;
        }

        &__preview-title {
            margin-bottom: 10px;
        }
    }

    @media #{variables.$media-sm} {
        display: block;
        margin-bottom: 54px;
        text-align: center;

        &__img {
            margin-right: 0;
        }

        &__preview {
            padding-top: 15px;
        }

        &__preview-title {
            font-size: var(--text-md);
            margin-bottom: 10px;
            max-width: 100%;
            text-align: center;
        }

        &__preview-text {
            max-width: 100%;
        }
    }
}
