@use '../abstracts/variables';

.banner {
  &__img {
    display: block;
    margin: 31px auto 0;
    object-fit: cover;
    max-height: 400px;
    height: auto;
    max-width: 100%;
  }

  &__caption {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 72px;
    text-indent: 27px;
  }

  @media #{variables.$media-md} {
    &__img {
      max-width: 100%;
    }

    &__caption {
      max-width: 1023px;
      text-align: left;
      margin-top: 32px;
      margin-bottom: 72px;
      font-size: 15px;
    }
  }

  @media #{variables.$media-sm} {
    &__img {
      max-width: 100%;
    }

    &__caption {
      max-width: 749px;
      text-align: left;
      margin-top: 32px;
      margin-bottom: 72px;
      font-size: 15px;
    }
  }
}

.last-articles {
  display: flex;
  margin-bottom: 64px;

  &__img {
    margin-right: 25px;
    object-fit: cover;
  }

  &__preview {
    max-width: 640px;
    text-align: left;
  }

  &__preview-title {
    margin-bottom: 5px;
    font-family: Lora;
    font-size: 28px;
    font-weight: 500;
  }

  &__preview-text {
    margin-bottom: 10px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
  }

  @media #{variables.$media-md} {
    display: flex;
    margin-bottom: 54px;

    &__preview {
      max-width: 100%;
      padding-top: 15px;
    }

    &__preview-title {
      margin-bottom: 10px;
      font-size: 20px;
    }

    &__preview-text {
      font-size: 14px;
      font-weight: 400;
    }
  }

  @media #{variables.$media-sm} {
    display: block;
    margin-bottom: 54px;
    text-align: center;

    &__img {
      margin-right: 0px;
    }

    &__preview {
      padding-top: 15px;
    }

    &__preview-title {
      max-width: 100%;
      margin-bottom: 10px;
      font-size: 18px;
      text-align: center;
    }

    &__preview-text {
      max-width: 100%;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
