@use "../abstracts/variables";

.my-page {
    &__admin-links {
        display: flex;
        flex-direction: column;
    }

    &__admin-link {
        margin-top: var(--space-xs);
        text-align: start;
    }

    &__about {
        display: flex;
        margin-top: var(--space-md);
        max-width: 900px;
    }

    &__about-field {
        font-family: "Raleway";
        margin-bottom: var(--space-xxs);
        text-align: left;
    }

    &__about-info {
        margin-left: var(--space-sm);
        width: 70%;
        flex-shrink: 0;
    }

    &__about-info_editing-mode > &__about-fields{
        display: none;
    }

    &__about-info_editing-mode > &__about-edit-form {
        display: initial;
    }

    &__about-form-label {
        display: flex;
        flex-direction: column;
        margin: var(--space-xs) 0;
    }

    &__about-form-input {
        font-size: var(--text-sm);
        padding: var(--space-xxs) var(--space-xs);
        margin-top: var(--space-xs);
    }

    &__about-form-submit {
        margin-top: var(--space-xs);
        margin-right: var(--space-xs);
    }

    &__avatar-input {
        display: none;
    }

    &__about-form-textarea {
        margin-top: var(--space-xs);
        padding: var(--space-xxs) var(--space-xs);
        background-color: white;
    }

    &__about-edit-form {
        font-family: "Raleway";
        word-break: break-word;
        display: none;
    }



    &__about-edit-button {
        margin-bottom: var(--space-xs);
        margin-top: var(--space-xs);
    }

    @media #{variables.$media-sm} {
        &__about {
            flex-direction: column;
            align-items: center;
        }

        &__about-info {
            margin-left: 0;
            width: 100%;
            text-align: left;
        }

        &__about-edit-button {
            margin: var(--space-sm) 0;
        }
    }
}
