@use '../abstracts/variables';

.topic {
  &__content {
    padding: 0px 37px;
    width: 100%;
  }

  &__add-favourite {
    background-color: transparent;
    background-image: url(/img/icons/heart.svg);
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__add-favourite_active {
    background-color: transparent;
    background-image: url(/img/icons/heart-added.svg);
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__title {
    font-family: Lora;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 15px;
  }

  &__layout {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: justify;
    line-height: 20px;
  }

  &__layout img {
    max-width: 100%;
    height: auto;
  }

  @media #{variables.$media-sm} {
    &__layout {
      margin-top: 8px;
      max-width: 100%;
      padding: 7px;  
    }
  }
}

.comments {
  &__instance {
    display: flex;
    margin-bottom: 10px;
  }

  &__instance-ava {
    width: 85px;
    height: 85px;
    object-fit: cover;
    margin-right: 10px;
  }

  &__instance-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 95px);
  }

  &__instance-author {
    font-family: Lora;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__instance-text {
    flex-grow: 1;
    word-wrap: break-word;
    font-family: Raleway;
    font-size: 14px;
  }

  &__instance-date {
    font-family: Raleway;
    font-size: 12px;
  }

  &__welcome-message {
    margin-top: 24px;
    max-width: 640px;
    margin-bottom: 5px;
    font-family: Lora;
    font-size: 18px;
    font-weight: 500;
  }

  &__add-textarea {
    padding-top: 15px;
    padding-left: 5px;
    resize: none;
    width: 100%;
    height: 120px;
    background-color: rgba(217, 182, 139, 0.651);
    border: 2px solid rgba(140, 91, 62, 1);
    border-radius: 5px;
    font-family: Raleway;
    font-size: 14px;
    outline: none;
    display: block;
  }

  &__symbol-counter {
    position: absolute;
    top: 3px;
    left: 5px;
    font-family: Raleway;
    font-size: 12px;
  }

  &__add-form {
    position: relative;
  }

  &__unauthorized {
    margin: 12px 0;
    font-size: 14px;
  }

  &__temp-form {
    position: relative;
  }

  @media #{variables.$media-sm} {
    &__instance {
       max-width: 98%;
    }

    &__welcome-message {
      margin-top: 10px;
      max-width: 70%;
      font-size: 16px;
    }

    &__add-textarea {
      width: 90%;
      height: 100px;
      border: 1px solid rgba(140, 91, 62, 1);
    }
  }
  
}
