@use "../abstracts/variables";

.topic {
    padding: 0 80px 32px;
    position: relative;
    width: 100%;

    &__add-favourite {
        background-color: transparent;
        background-image: url("/static/img/icons/heart.svg");
        background-repeat: no-repeat;
        background-size: 28px 28px;
        border: 0;
        cursor: pointer;
        height: 28px;
        left: 26px;
        margin-top: 16px;
        position: absolute;
        top: 50px;
        width: 28px;
    }

    &__add-favourite_active {
        background-image: url("/static/img/icons/heart-added.svg");
    }

    &__title {
        font-family: Lora;
        font-weight: 500;
        margin: 0 auto;
        margin-bottom: 24px;
        margin-top: 15px;
        text-align: left;
        width: 100%;
    }

    &__layout {
        font-family: Raleway;
        font-size: var(--text);
        line-height: 1.5;
        margin-bottom: 12px;
    }

    &__layout img {
        height: auto;
        max-width: 100%;
    }

    @media #{variables.$media-sm} {
        padding: 0 40px 32px;

        &__add-favourite {
            display: block;
            margin-left: auto;
            position: initial;
        }

        &__title {
            font-size: var(--text-xl);
        }

        &__layout {
            max-width: 100%;
        }

        &__content {
            padding: 0 20px 32px;
            width: 100%;
        }
    }
}

.comments {
    button {
        margin-right: 8px;
    }

    &__sc-textarea {
        margin-bottom: 12px;
    }

    &__add-button {
        margin-bottom: 24px;
    }

    &__instance {
        display: flex;
        margin-bottom: 16px;
    }

    &__instance-ava {
        height: 85px;
        margin-right: 10px;
        object-fit: cover;
        width: 85px;
    }

    &__instance-content {
        width: calc(100% - 95px);
    }

    &__instance-content_hidden {
        display: none;
    }

    &__instance-author {
        font-family: Lora;
        font-size: var(--text-sm);
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__instance-text {
        font-family: Raleway;
        font-size: var(--text-sm);
        word-wrap: break-word;
    }

    &__instance-date {
        font-family: Raleway;
        font-size: var(--text-xs);
    }

    &__form {
        margin-top: 8px;
    }

    &__welcome-message {
        font-family: Lora;
        font-weight: 500;
        margin-bottom: 5px;
        margin-top: 24px;
        max-width: 640px;
    }

    &__add-form {
        position: relative;
    }

    &__unauthorized {
        font-size: var(--text-sm);
        margin: 12px 0;
    }

    &__temp-form {
        position: relative;
        width: 100%;
    }

    &__temp-form_hidden {
        display: none;
    }

    @media #{variables.$media-sm} {
        &__welcome-message {
            margin-top: 10px;
        }
    }
}
