.avatar {
    width: 200px;
    height: 200px;
    position: relative;
    text-align: center;
    pointer-events: none;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &.avatar_editing-mode {
        pointer-events: initial;
    }
    &.avatar_editing-mode:hover {
        cursor: pointer;
    }

    &.avatar_editing-mode::before {
        position: absolute;
        content: "Загрузить фото";
        font-family: "Raleway";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    &.avatar_editing-mode:hover &__img {
        z-index: 0;
        filter: opacity(0.2);
    }

    &.avatar_editing-mode::after {
        box-sizing: border-box;
        position: absolute;
        content: url("/static/img/icons/upload.svg");
        background-color: #d9b68b;
        border-radius: 50%;
        width: 15%;
        height: 15%;
        vertical-align: middle;
        top: 82.5%;
        left: 82.5%;
        transform: translate(-50%, -50%);
        z-index: 3;
        padding-top: 5px;
    }
}
