@use '../abstracts/variables';

.button {
    cursor: pointer;
    outline: none;
    padding: 4px 10px;
    background-color: variables.$tumbleweed-65;
    border: 2px solid variables.$potters-clay;
    border-radius: 10px;
    font-family: Lora;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;

    &_light {
        background-color: variables.$potters-clay-25;
        border: 1px solid variables.$potters-clay-40;
        padding: 3px;
        border-radius: 3px;  
    }
}
