.button {
    cursor: pointer;
    outline: none;
    padding: 4px 10px;
    background-color: rgba(217, 182, 139, 0.651);
    border: 2px solid rgba(140, 91, 62, 1);
    border-radius: 10px;
    font-family: Lora;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;

    &_light {
        background-color: rgba(140, 91, 62, 0.25);
        border: 1px solid rgba(140, 91, 62, 0.4);
        padding: 3px;
        border-radius: 3px;  
    }
}
