@use '../abstracts/variables';

.button {
    background-color: variables.$hampton;
    border: 2px solid variables.$potters-clay;
    border-radius: 10px;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
    font-family: Raleway;
    font-size: var(--text-xs);
    font-weight: 400;
    outline: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
	letter-spacing: 0.02em;

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

    &_light {
        background-color: variables.$potters-clay-25;
        border: 1px solid variables.$potters-clay-40;
        border-radius: 3px;
        padding: 0.35em 0.7em;
    }

    &_wide {
        width: 100%;
    }

    &_default {
        font-size: var(--text);
    }
}
