@use '../abstracts/variables';

.cookie {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 900px;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 25px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
      
    &__text {
        margin: 0;
        font-size: 0.9rem;
        text-align: left;
    }   
      
    @media (min-width: 576px){
        &.show {
          display: flex;
        }

        &__button {
          margin: 0 0 0 25px;
          padding: 5px;
          border-color: rgba(140, 91, 62, 0.6);
          background-color: rgba(140, 91, 62, 0.6);
        }
    }
      
    @media (max-width: 575px){
        &.show {
          display: block;
          text-align: left;
        }

        &__button {
          margin: 10px 0 0 0;
        }
    }
}