@use '../abstracts/variables';

.feedback {
    max-width: 240px;
    width: 20%;
    margin-top: 23px;

    &__email {
        width: 100%;
        background-color: variables.$tumbleweed;
        border: 2px solid variables.$dusty-gray;
        border-radius: 5px;
        font-family: Raleway;
        font-weight: 400;
        outline: none;
        margin-top: 5px;
        padding: 4px;
    }

    &__submit-button {
        margin-top: 8px;
        border: 2px solid variables.$dusty-gray;
    }

    @media #{variables.$media-md} {
        display: none;
    }

    @media #{variables.$media-sm} {
        display: none;
    }
}