@use '../abstracts/variables';

.feedback {
    max-width: 240px;
    width: 21.5%;
    margin-top: 23px;
    margin-right: -15px;

    &__email {
        resize: none;
        width: 100%;
        background-color: rgba(217, 182, 139, 1);
        border: 3px solid rgba(140, 91, 62, 1);
        border-radius: 5px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        margin-top: 5px;
    }
      
    &__submit-button {
        width: 40%;
        padding: 2px;
        margin-top: 8px;
        background-color: rgba(217, 182, 139, 1);
        outline: none;
        border: 3px solid rgba(140, 91, 62, 1);
        border-radius: 5px;
        margin-bottom: 15px;
        font-family: Lora;
        font-size: 13px;
        font-weight: 400;
        text-align: left;
    }

    @media #{variables.$media-md} {
        display: none;
    }

    @media #{variables.$media-sm} {
        display: none;
    }
}