@use '../abstracts/variables';

.input {
    border: 1px solid #6b6154;
    border-radius: 3px;
    font-size: var(--text);
    height: 30px;
    margin-bottom: 15px;
    outline: none;
    padding: 0.2em 0.4em;

    &_wide {
        width: 100%;
    }
}