.instagram-widget
{

    background-color: #fff;
    margin: 0 auto;
    max-width: 235px;
    padding: 50px 15px;

    text-align: center;
    width: 100%;

    &__profile-link
    {
        align-items: center;

        color: var(--black);

        display: flex;
        font-family: 'Raleway';
        font-weight: 500;

        margin-bottom: 15px;

        text-decoration: none;
    }

    &__profile-icon
    {
        margin-right: 10px;
    }

    &__photos
    {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
    }

    &__photo-link
    {
        margin: 5px 0;
        padding: 3px;
        width: calc(100% / 3);
    }

    &__photo-img
    {
        height: 65px;

        object-fit: contain;
        width: 100%;
    }

    &__hidden-photos
    {
        display: flex;
    }
}
