@use '../abstracts/variables';

.link {
    background-color: transparent;
    text-decoration: none;
    color: variables.$potters-clay;
    border: none;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    width: 100%;
    max-width: 640px;
    padding-right: 20px;

    &:hover {
        color: variables.$bourbon;
        cursor: pointer;
    }
}