@use '../abstracts/variables';

.footer {
	background-color: variables.$bronze;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1140px;
	padding: 5px 15px;
	width: 100%;

	@media #{variables.$media-md} {
		flex-wrap: wrap;
		max-width: 1023px;
		min-width: 751px;

		&__links-list {
			flex-wrap: wrap;
			margin-top: 23px;
			max-width: 100%;
		}
	}

	@media #{variables.$media-sm} {
		flex-wrap: wrap;
		max-width: 749px;

		&__links-list {
			flex-wrap: wrap;
			margin-top: 23px;
			max-width: 100%;
		}
	}

	&__links-list {
		align-items: flex-end;
		display: flex;
		list-style: none;
		margin-top: 23px;
	}

	&__links-item {
		margin-right: 28px;
		text-decoration: none;
	}

	&__link {
		color: variables.$di-serria;
		display: inline-block;
		font-family: Lora;
		font-weight: 500;
		height: 40px;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
	}

	&__link:hover {
		color: variables.$carrot-orange-80;
		text-shadow: variables.$selective-yellow-30 1px 0;
	}
}
