@use '../abstracts/variables';

.header {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    &__rubrics-btn {
        margin: 11px;
        padding: 5px;
        display: none;
        flex-basis: 100%;
        text-align: center;
        background-color: rgba(140, 91, 62, 0.25);
        outline: none;
        border: none;
        width: 50%;
        padding: 11px;
        font-family: Raleway;
        color: #8c5b3e;
        box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
        font-size: 17px;
        font-weight: 400;
        text-align: center;
      }

    &__logo-wrapper {
        max-width: 1140px;
        padding: 15px;
        margin: 0 auto;
        background-color: #fff;
        background-image: url(../img/header.jpg);
        background-position: center center;
        background-size: cover;
    }

    &__logo-img {
        object-fit: cover;
        width: 15%;
        height: auto;
    }

    &__logo-slogan {
        margin-bottom: 50px;
        width: 28%;
    }

    &__rubrics {
        display: none;
    }
    
    @media #{variables.$media-md} {
        &__rubrics-btn {
            display: none;
        }

        &__rubrics {
            display: flex;
        }

        &__logo-img {
            width: 20%;
        }

        &__logo-slogan {
            width: 24%;
        }
    }

    @media #{variables.$media-sm} {
        &__rubrics-btn {
            display: block;
        }

        &__rubrics {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            align-items: center;
            border: 10px solid rgba(140, 91, 62, 0.6);
        }
        &__logo-img {
            width: 30%;
        }

        &__logo-slogan {
            display: none;
        }
    }
}
