@use '../abstracts/variables';

.main {
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;

    &__content {
        padding: 0 36px 20px;
        width: 100%;
    }

    &__sidebar {
        background-color: variables.$potters-clay-60;
        flex-basis: 240px;
        flex-shrink: 0;
        max-width: 240px;
    }

    @media #{variables.$media-md} {
        max-width: 100%;
        padding: 0;
    }

    @media #{variables.$media-sm} {
        max-width: 100%;
        padding: 0;

        &__content {
            padding: 0 20px 20px;
        }
    }
}
