@use '../abstracts/variables';

.nav {
    max-width: 1140px;
    min-height: 41px;
    padding: 3px;
    margin: 0 auto;
    background-color: variables.$potters-clay;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        list-style: none;
        z-index: 1;
    }

    &__item {
        text-align: center;
        vertical-align: middle;
    }

    &__link {
        font-family: Raleway;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
      
    &__link:hover {
        color: variables.$bronze;
    }

    &__button {
        font-family: Raleway;
        font-size: var(--text);
        background-color: transparent;
        background: transparent;
        border: none;
        color: #fff;
        cursor: pointer; 
    }

    &__button:focus {
        color: variables.$bronze;
        border: 1px solid variables.$bronze;
        border-radius: 3px;
        outline: none;  
    }

    &__button:hover {
        color: variables.$bronze;  
    }

    &__search {
        display: none;
        margin-right: 3px;
    }

    &__search-form {
        width: 20.85%;
        display: flex;
        max-width: 245px;
    }

    &__search-field {
        outline: none;
        height: 35px;
        border: none;
        font-size: var(--text-sm);
        width: 100%;
        padding: 3px;
    }

    &__burger {
        display: none;
        margin-left: auto;
        background-color: transparent;
        outline: none;
        border: none;
    }

    @media #{variables.$media-md} {
        position: relative;

        &__list {
            position: absolute;
            flex-direction: column;
            display: none;
            right: 0;
            top: 40px;
            width: 50%;
        }

        &__search-form {
            width: 80%;
            top: 35px;
            left: 0;
            display: none;
        }

        &__list_opened, &__search-form_opened {
            display: flex;
        }

        &__item {
            border: 2px solid variables.$leather;
            display: inline-block;
            width: 100%;
            background-color: variables.$leather;
            padding: 5px;
            cursor: pointer;
            font-family: Raleway;
            text-decoration: none;
            color: #fff;
        }

        &__burger, &__search {
            display: block;
        }
    }

    @media #{variables.$media-sm} {
        position: relative;

        &__list {
            position: absolute;
            flex-direction: column;
            display: none;
            right: 0;
            top: 40px;
            width: 50%;
        }

        &__search-form {
            width: 80%;
            top: 35px;
            left: 0;
            display: none;
        }

        &__list_opened, &__search-form_opened {
            display: flex;
        }
      
        &__item {
            border: 2px solid variables.$leather;
            display: inline-block;
            width: 100%;
            background-color: variables.$leather;
            padding: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        &__burger, &__search {
            display: block;
        }
    }
}