@use '../abstracts/variables';

.nav {
    align-items: center;
    background-color: variables.$potters-clay;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    height: 41px;
    padding: 3px 0;

    &__logo {
        display: none;
    }

    &__list {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        list-style: none;
        z-index: 10;
    }

    &__item {
        text-align: center;
        vertical-align: middle;
    }

    &__link {
        color: #fff;
        font-family: Raleway;
        text-align: center;
        text-decoration: none;
    }

    &__link:hover {
        color: variables.$bronze;
    }

    &__button {
        background: transparent;
        background-color: transparent;
        border: 0;
        color: #fff;
        cursor: pointer;
        font-family: Raleway;
        font-size: var(--text);
    }

    &__button:focus {
        border: 1px solid variables.$bronze;
        border-radius: 3px;
        color: variables.$bronze;
        outline: none;
    }

    &__button:hover {
        color: variables.$bronze;
    }

    &__search {
        display: none;
        margin-right: 3px;
    }

    &__search-form {
        flex-basis: 243px;
        padding: 0 8px;
    }

    &__search-field {
        border: 0;
        font-size: var(--text-sm);
        height: 32px;
        outline: none;
        padding: 3px;
        width: 100%;
    }

    &__burger {
        background-color: transparent;
        border: 0;
        display: none;
        margin-left: auto;
        outline: none;
    }

    // @media #{variables.$media-md} {
    //     position: relative;

    //     &__list {
    //         display: none;
    //         flex-direction: column;
    //         position: absolute;
    //         right: 0;
    //         top: 40px;
    //         width: 50%;
    //     }

    //     &__search-form {
    //         display: none;
    //         left: 0;
    //         top: 35px;
    //         width: 80%;
    //     }

    //     &__list_opened,
    //     &__search-form_opened {
    //         display: flex;
    //     }

    //     &__item {
    //         background-color: variables.$leather;
    //         border: 2px solid variables.$leather;
    //         color: #fff;
    //         cursor: pointer;
    //         display: inline-block;
    //         font-family: Raleway;
    //         padding: 5px;
    //         text-decoration: none;
    //         width: 100%;
    //         text-align: left;
    //     }

    //     &__burger,
    //     &__search {
    //         display: block;
    //     }

    //     &__link {
    //         display: block;
    //         text-align: left;
    //     }
    // }

    @media #{variables.$media-sm-md} {
        position: relative;
        height: 64px;
        padding: 0 16px;

        &__logo {
            display: initial;
            width: 180px;
            height: auto;
        }

        &__list {
            display: none;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 64px;
            width: 100%;
        }

        &__search {
            width: 30px;
            height: 30px;
            margin-right: 8px;
        }

        &__search-form {
            display: none;
            left: 0;
            top: 35px;
            width: 100%;
            max-width: none;
            height: 64px;
        }

        &__search-form_opened {
            flex-grow: 1;
            align-items: center;
            display: flex;
        }

        &__list_opened {
            display: flex;
        }

        &__item {
            background-color: variables.$leather;
            cursor: pointer;
            display: inline-block;
            padding: 16px 24px;
            text-decoration: none;
            width: 100%;
            text-align: left;
        }

        &__item:not(:last-child) {
            border-bottom: 1px solid #9a6f6f;
        }

        &__burger,
        &__search {
            display: block;
        }

        &__link {
            display: block;
            text-align: left;
        }

        &__button {
            display: block;
            width: 100%;
            text-align: left;
        }
    }
}
