@use '../abstracts/variables';

.sidebar {
    font-family: Raleway;
    text-align: center;

    &__comments-item {
        display: flex;
        max-width: 210px;
        width: 100%;
        margin-bottom: 16px;
    }
      
    &__comments-img {
        border-radius: 50%;
        object-fit: cover;
        margin-right: 11px;
        border: 1px solid variables.$carrot-orange-60;
    }
      
    &__comments-text {
        font-family: Raleway;
        font-size: var(--text-sm);
        font-weight: 500;
        text-align: left;
    }
      
    &__comments-author {
        font-family: Raleway;
        font-size: var(--text-xs);
        font-weight: 500;
        text-align: left;
    }

    &__title {
        margin-top: 15px;
        margin-bottom: 7px;
        font-family: Lora;
        font-weight: 500;
    }

    &__comments {
        background-color: #fff;
        border: 10px solid variables.$potters-clay-60;
        padding: 26px 3px 0 3px;
    }

    @media #{variables.$media-md} {
        display: none;
    }

    @media #{variables.$media-sm} {
        display: none;
    }
}